In [1]:
import numpy as np
import random
import os
import pandas as pd
from prophet import Prophet
from sqlalchemy import create_engine, text
import warnings
import re
warnings.filterwarnings("ignore")
np.random.seed(42)
random.seed(42)
os.environ['PYTHONHASHSEED'] = '42'
import prophet
prophet.__version__
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.seasonal import seasonal_decompose
from prophet.diagnostics import cross_validation, performance_metrics

print("REPRODUCIBILITY LOCKED: Same results every run.")

Importing plotly failed. Interactive plots will not work.

REPRODUCIBILITY LOCKED: Same results every run.

In [2]:
PROJECT_ROOT = r"C:\Users\salma\OneDrive\Desktop\Commodity-Price-Analytics"  
os.chdir(PROJECT_ROOT)
print(f"Working directory set to: {os.getcwd()}")

Working directory set to: C:\Users\salma\OneDrive\Desktop\Commodity-Price-Analytics

In [3]:
!pip install psycopg2-binary sqlalchemy pandas

Requirement already satisfied: psycopg2-binary in c:\users\salma\anaconda3\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\salma\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: pandas in c:\users\salma\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\salma\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\salma\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\salma\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\salma\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\salma\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [4]:
# postgresql connection
engine = create_engine('postgresql://postgres:107789Sa%40@localhost:5432/commodity_db')
with engine.connect() as conn:
    result = conn.execute(text("SELECT current_database(), version();"))
    rows = result.fetchall()
    df = pd.DataFrame(rows, columns=result.keys())

# Show result
display(df)

  current_database                                            version
0     commodity_db  PostgreSQL 18.0 on x86_64-windows, compiled by...

In [5]:
engine = create_engine('postgresql+psycopg2://postgres:107789Sa%40@localhost:5432/commodity_db')
print("Connected to PostgreSQL: commodity_db")

Connected to PostgreSQL: commodity_db

In [6]:
import sys
print("Jupyter is using Python from:")
print(sys.executable)

Jupyter is using Python from:
C:\Users\salma\AppData\Local\Programs\Python\Python311\python.exe

In [7]:
!{sys.executable} -m pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (2.9.11)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\salma\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

In [8]:
!{sys.executable} -m pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (3.1.5)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\salma\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

Requirement already satisfied: et-xmlfile in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (2.0.0)

In [9]:
file_path = r"C:\Users\salma\OneDrive\Desktop\Commodity-Price-Analytics\data\CMO-Historical-Data-Monthly.xlsx"

In [10]:
df1 = pd.read_excel(
    file_path,
    sheet_name='Monthly Prices',
    skiprows = 4,
    header = [0,1]
).reset_index(drop=True)

In [11]:
df1

,Unnamed: 0_level_0,"Crude oil, average","Crude oil, Brent","Crude oil, Dubai","Crude oil, WTI","Coal, Australian","Coal, South African **","Natural gas, US","Natural gas, Europe","Liquefied natural gas, Japan",...,Aluminum,"Iron ore, cfr spot",Copper,Lead,Tin,Nickel,Zinc,Gold,Platinum,Silver
,Unnamed: 0_level_1,($/bbl),($/bbl),($/bbl),($/bbl),($/mt),($/mt),($/mmbtu),($/mmbtu),($/mmbtu),...,($/mt),($/dmtu),($/mt),($/mt),($/mt),($/mt),($/mt),($/troy oz),($/troy oz),($/troy oz)
0,1960M01,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,715.40,206.10,2180.40,1631.00,260.80,35.27,83.50,0.9137
1,1960M02,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,728.19,203.70,2180.40,1631.00,244.90,35.27,83.50,0.9137
2,1960M03,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,684.94,210.30,2173.80,1631.00,248.70,35.27,83.50,0.9137
3,1960M04,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,723.11,213.60,2178.20,1631.00,254.60,35.27,83.50,0.9137
4,1960M05,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,684.75,213.40,2162.70,1631.00,253.80,35.27,83.50,0.9137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,2024M12,72.311000,73.833,73.31,69.79,129.81,105.47,3.0229,13.856621,12.640616,...,2541.020000,102.21,8916.32,1990.43,28864.99,15444.89,3034.16,2648.01,937.88,30.7640
780,2025M01,78.162000,79.206,80.14,75.14,118.6,103.28,4.0991,14.663512,13.193106,...,2573.400000,99.58,8991.41,1921.36,29612.36,15394.14,2818.96,2709.69,949.23,30.4110
781,2025M02,73.819000,75.157,74.97,71.33,106.93,100.41,4.2226,15.340532,12.781781,...,2657.600000,105.08,9330.60,1956.55,31832.96,15288.09,2800.14,2894.73,978.25,32.1520
782,2025M03,70.701333,72.574,71.71,67.82,103.97,97.99,4.1281,13.235407,12.545449,...,2658.290000,100.10,9739.68,2033.21,34047.87,16065.69,2889.29,2983.25,980.05,33.1880
783,2025M04,65.905000,67.745,66.89,63.08,98.61,95.56,3.3998,11.590293,12.43,...,2371.600000,97.24,9176.80,1903.46,32565.05,15113.29,2621.55,3217.64,958.81,32.2250

In [12]:
df1.columns

MultiIndex([(          'Unnamed: 0_level_0', 'Unnamed: 0_level_1'),
            (          'Crude oil, average',            '($/bbl)'),
            (            'Crude oil, Brent',            '($/bbl)'),
            (            'Crude oil, Dubai',            '($/bbl)'),
            (              'Crude oil, WTI',            '($/bbl)'),
            (            'Coal, Australian',             '($/mt)'),
            (      'Coal, South African **',             '($/mt)'),
            (             'Natural gas, US',          '($/mmbtu)'),
            (         'Natural gas, Europe',          '($/mmbtu)'),
            ('Liquefied natural gas, Japan',          '($/mmbtu)'),
            (           'Natural gas index',         '(2010=100)'),
            (                       'Cocoa',             '($/kg)'),
            (             'Coffee, Arabica',             '($/kg)'),
            (             'Coffee, Robusta',             '($/kg)'),
            (         'Tea, avg 3 auctions',             '($/kg)'),
            (                'Tea, Colombo',             '($/kg)'),
            (                'Tea, Kolkata',             '($/kg)'),
            (                'Tea, Mombasa',             '($/kg)'),
            (                 'Coconut oil',             '($/mt)'),
            (                  'Groundnuts',             '($/mt)'),
            (                   'Fish meal',             '($/mt)'),
            (            'Groundnut oil **',             '($/mt)'),
            (                    'Palm oil',             '($/mt)'),
            (             'Palm kernel oil',             '($/mt)'),
            (                    'Soybeans',             '($/mt)'),
            (                 'Soybean oil',             '($/mt)'),
            (                'Soybean meal',             '($/mt)'),
            (                'Rapeseed oil',             '($/mt)'),
            (               'Sunflower oil',             '($/mt)'),
            (                      'Barley',             '($/mt)'),
            (                       'Maize',             '($/mt)'),
            (                     'Sorghum',             '($/mt)'),
            (              'Rice, Thai 5% ',             '($/mt)'),
            (             'Rice, Thai 25% ',             '($/mt)'),
            (              'Rice, Thai A.1',             '($/mt)'),
            (        'Rice, Viet Namese 5%',             '($/mt)'),
            (               'Wheat, US SRW',             '($/mt)'),
            (               'Wheat, US HRW',             '($/mt)'),
            (              'Banana, Europe',             '($/kg)'),
            (                  'Banana, US',             '($/kg)'),
            (                      'Orange',             '($/kg)'),
            (                     'Beef **',             '($/kg)'),
            (                  'Chicken **',             '($/kg)'),
            (                     'Lamb **',             '($/kg)'),
            (            'Shrimps, Mexican',             '($/kg)'),
            (                   'Sugar, EU',             '($/kg)'),
            (                   'Sugar, US',             '($/kg)'),
            (                'Sugar, world',             '($/kg)'),
            (     'Tobacco, US import u.v.',             '($/mt)'),
            (              'Logs, Cameroon',    '($/cubic meter)'),
            (             'Logs, Malaysian',    '($/cubic meter)'),
            (          'Sawnwood, Cameroon',    '($/cubic meter)'),
            (         'Sawnwood, Malaysian',    '($/cubic meter)'),
            (                     'Plywood',      '(cents/sheet)'),
            (             'Cotton, A Index',             '($/kg)'),
            (            'Rubber, TSR20 **',             '($/kg)'),
            (                'Rubber, RSS3',             '($/kg)'),
            (              'Phosphate rock',             '($/mt)'),
            (                         'DAP',             '($/mt)'),
            (                         'TSP',             '($/mt)'),
            (                       'Urea ',             '($/mt)'),
            (       'Potassium chloride **',             '($/mt)'),
            (                    'Aluminum',             '($/mt)'),
            (          'Iron ore, cfr spot',           '($/dmtu)'),
            (                      'Copper',             '($/mt)'),
            (                        'Lead',             '($/mt)'),
            (                         'Tin',             '($/mt)'),
            (                      'Nickel',             '($/mt)'),
            (                        'Zinc',             '($/mt)'),
            (                        'Gold',        '($/troy oz)'),
            (                    'Platinum',        '($/troy oz)'),
            (                      'Silver',        '($/troy oz)')],
           )

In [13]:
df1.columns = [f"{commodity} ({unit})" for commodity, unit in df1.columns]

In [14]:
df1

,Unnamed: 0_level_0 (Unnamed: 0_level_1),"Crude oil, average (($/bbl))","Crude oil, Brent (($/bbl))","Crude oil, Dubai (($/bbl))","Crude oil, WTI (($/bbl))","Coal, Australian (($/mt))","Coal, South African ** (($/mt))","Natural gas, US (($/mmbtu))","Natural gas, Europe (($/mmbtu))","Liquefied natural gas, Japan (($/mmbtu))",...,Aluminum (($/mt)),"Iron ore, cfr spot (($/dmtu))",Copper (($/mt)),Lead (($/mt)),Tin (($/mt)),Nickel (($/mt)),Zinc (($/mt)),Gold (($/troy oz)),Platinum (($/troy oz)),Silver (($/troy oz))
0,1960M01,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,715.40,206.10,2180.40,1631.00,260.80,35.27,83.50,0.9137
1,1960M02,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,728.19,203.70,2180.40,1631.00,244.90,35.27,83.50,0.9137
2,1960M03,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,684.94,210.30,2173.80,1631.00,248.70,35.27,83.50,0.9137
3,1960M04,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,723.11,213.60,2178.20,1631.00,254.60,35.27,83.50,0.9137
4,1960M05,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,684.75,213.40,2162.70,1631.00,253.80,35.27,83.50,0.9137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,2024M12,72.311000,73.833,73.31,69.79,129.81,105.47,3.0229,13.856621,12.640616,...,2541.020000,102.21,8916.32,1990.43,28864.99,15444.89,3034.16,2648.01,937.88,30.7640
780,2025M01,78.162000,79.206,80.14,75.14,118.6,103.28,4.0991,14.663512,13.193106,...,2573.400000,99.58,8991.41,1921.36,29612.36,15394.14,2818.96,2709.69,949.23,30.4110
781,2025M02,73.819000,75.157,74.97,71.33,106.93,100.41,4.2226,15.340532,12.781781,...,2657.600000,105.08,9330.60,1956.55,31832.96,15288.09,2800.14,2894.73,978.25,32.1520
782,2025M03,70.701333,72.574,71.71,67.82,103.97,97.99,4.1281,13.235407,12.545449,...,2658.290000,100.10,9739.68,2033.21,34047.87,16065.69,2889.29,2983.25,980.05,33.1880
783,2025M04,65.905000,67.745,66.89,63.08,98.61,95.56,3.3998,11.590293,12.43,...,2371.600000,97.24,9176.80,1903.46,32565.05,15113.29,2621.55,3217.64,958.81,32.2250

In [15]:
df1 = df1.rename(columns={df1.columns[0]:"Date_Raw"})

In [16]:
df1

,Date_Raw,"Crude oil, average (($/bbl))","Crude oil, Brent (($/bbl))","Crude oil, Dubai (($/bbl))","Crude oil, WTI (($/bbl))","Coal, Australian (($/mt))","Coal, South African ** (($/mt))","Natural gas, US (($/mmbtu))","Natural gas, Europe (($/mmbtu))","Liquefied natural gas, Japan (($/mmbtu))",...,Aluminum (($/mt)),"Iron ore, cfr spot (($/dmtu))",Copper (($/mt)),Lead (($/mt)),Tin (($/mt)),Nickel (($/mt)),Zinc (($/mt)),Gold (($/troy oz)),Platinum (($/troy oz)),Silver (($/troy oz))
0,1960M01,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,715.40,206.10,2180.40,1631.00,260.80,35.27,83.50,0.9137
1,1960M02,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,728.19,203.70,2180.40,1631.00,244.90,35.27,83.50,0.9137
2,1960M03,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,684.94,210.30,2173.80,1631.00,248.70,35.27,83.50,0.9137
3,1960M04,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,723.11,213.60,2178.20,1631.00,254.60,35.27,83.50,0.9137
4,1960M05,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,511.471832,11.42,684.75,213.40,2162.70,1631.00,253.80,35.27,83.50,0.9137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,2024M12,72.311000,73.833,73.31,69.79,129.81,105.47,3.0229,13.856621,12.640616,...,2541.020000,102.21,8916.32,1990.43,28864.99,15444.89,3034.16,2648.01,937.88,30.7640
780,2025M01,78.162000,79.206,80.14,75.14,118.6,103.28,4.0991,14.663512,13.193106,...,2573.400000,99.58,8991.41,1921.36,29612.36,15394.14,2818.96,2709.69,949.23,30.4110
781,2025M02,73.819000,75.157,74.97,71.33,106.93,100.41,4.2226,15.340532,12.781781,...,2657.600000,105.08,9330.60,1956.55,31832.96,15288.09,2800.14,2894.73,978.25,32.1520
782,2025M03,70.701333,72.574,71.71,67.82,103.97,97.99,4.1281,13.235407,12.545449,...,2658.290000,100.10,9739.68,2033.21,34047.87,16065.69,2889.29,2983.25,980.05,33.1880
783,2025M04,65.905000,67.745,66.89,63.08,98.61,95.56,3.3998,11.590293,12.43,...,2371.600000,97.24,9176.80,1903.46,32565.05,15113.29,2621.55,3217.64,958.81,32.2250

In [17]:
df1["Date"]  = pd.to_datetime(df1["Date_Raw"], format = "%YM%m", errors = "coerce")

In [18]:
df1

,Date_Raw,"Crude oil, average (($/bbl))","Crude oil, Brent (($/bbl))","Crude oil, Dubai (($/bbl))","Crude oil, WTI (($/bbl))","Coal, Australian (($/mt))","Coal, South African ** (($/mt))","Natural gas, US (($/mmbtu))","Natural gas, Europe (($/mmbtu))","Liquefied natural gas, Japan (($/mmbtu))",...,"Iron ore, cfr spot (($/dmtu))",Copper (($/mt)),Lead (($/mt)),Tin (($/mt)),Nickel (($/mt)),Zinc (($/mt)),Gold (($/troy oz)),Platinum (($/troy oz)),Silver (($/troy oz)),Date
0,1960M01,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,11.42,715.40,206.10,2180.40,1631.00,260.80,35.27,83.50,0.9137,1960-01-01
1,1960M02,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,11.42,728.19,203.70,2180.40,1631.00,244.90,35.27,83.50,0.9137,1960-02-01
2,1960M03,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,11.42,684.94,210.30,2173.80,1631.00,248.70,35.27,83.50,0.9137,1960-03-01
3,1960M04,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,11.42,723.11,213.60,2178.20,1631.00,254.60,35.27,83.50,0.9137,1960-04-01
4,1960M05,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,...,11.42,684.75,213.40,2162.70,1631.00,253.80,35.27,83.50,0.9137,1960-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,2024M12,72.311000,73.833,73.31,69.79,129.81,105.47,3.0229,13.856621,12.640616,...,102.21,8916.32,1990.43,28864.99,15444.89,3034.16,2648.01,937.88,30.7640,2024-12-01
780,2025M01,78.162000,79.206,80.14,75.14,118.6,103.28,4.0991,14.663512,13.193106,...,99.58,8991.41,1921.36,29612.36,15394.14,2818.96,2709.69,949.23,30.4110,2025-01-01
781,2025M02,73.819000,75.157,74.97,71.33,106.93,100.41,4.2226,15.340532,12.781781,...,105.08,9330.60,1956.55,31832.96,15288.09,2800.14,2894.73,978.25,32.1520,2025-02-01
782,2025M03,70.701333,72.574,71.71,67.82,103.97,97.99,4.1281,13.235407,12.545449,...,100.10,9739.68,2033.21,34047.87,16065.69,2889.29,2983.25,980.05,33.1880,2025-03-01
783,2025M04,65.905000,67.745,66.89,63.08,98.61,95.56,3.3998,11.590293,12.43,...,97.24,9176.80,1903.46,32565.05,15113.29,2621.55,3217.64,958.81,32.2250,2025-04-01

In [19]:
df1 = df1.drop(columns=["Date_Raw"])

In [20]:
df1

,"Crude oil, average (($/bbl))","Crude oil, Brent (($/bbl))","Crude oil, Dubai (($/bbl))","Crude oil, WTI (($/bbl))","Coal, Australian (($/mt))","Coal, South African ** (($/mt))","Natural gas, US (($/mmbtu))","Natural gas, Europe (($/mmbtu))","Liquefied natural gas, Japan (($/mmbtu))",Natural gas index ((2010=100)),...,"Iron ore, cfr spot (($/dmtu))",Copper (($/mt)),Lead (($/mt)),Tin (($/mt)),Nickel (($/mt)),Zinc (($/mt)),Gold (($/troy oz)),Platinum (($/troy oz)),Silver (($/troy oz)),Date
0,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,…,...,11.42,715.40,206.10,2180.40,1631.00,260.80,35.27,83.50,0.9137,1960-01-01
1,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,…,...,11.42,728.19,203.70,2180.40,1631.00,244.90,35.27,83.50,0.9137,1960-02-01
2,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,…,...,11.42,684.94,210.30,2173.80,1631.00,248.70,35.27,83.50,0.9137,1960-03-01
3,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,…,...,11.42,723.11,213.60,2178.20,1631.00,254.60,35.27,83.50,0.9137,1960-04-01
4,1.630000,1.630,1.63,…,…,…,0.1400,0.404774,…,…,...,11.42,684.75,213.40,2162.70,1631.00,253.80,35.27,83.50,0.9137,1960-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,72.311000,73.833,73.31,69.79,129.81,105.47,3.0229,13.856621,12.640616,111.146139,...,102.21,8916.32,1990.43,28864.99,15444.89,3034.16,2648.01,937.88,30.7640,2024-12-01
780,78.162000,79.206,80.14,75.14,118.6,103.28,4.0991,14.663512,13.193106,128.425081,...,99.58,8991.41,1921.36,29612.36,15394.14,2818.96,2709.69,949.23,30.4110,2025-01-01
781,73.819000,75.157,74.97,71.33,106.93,100.41,4.2226,15.340532,12.781781,132.864654,...,105.08,9330.60,1956.55,31832.96,15288.09,2800.14,2894.73,978.25,32.1520,2025-02-01
782,70.701333,72.574,71.71,67.82,103.97,97.99,4.1281,13.235407,12.545449,121.549284,...,100.10,9739.68,2033.21,34047.87,16065.69,2889.29,2983.25,980.05,33.1880,2025-03-01
783,65.905000,67.745,66.89,63.08,98.61,95.56,3.3998,11.590293,12.43,104.806223,...,97.24,9176.80,1903.46,32565.05,15113.29,2621.55,3217.64,958.81,32.2250,2025-04-01

In [21]:
monthly_long= pd.melt(
                    df1,
                    id_vars = ["Date"],
                    var_name = "Commodity",
                    value_name = "Price")

In [22]:
monthly_long

            Date                     Commodity   Price
0     1960-01-01  Crude oil, average (($/bbl))    1.63
1     1960-02-01  Crude oil, average (($/bbl))    1.63
2     1960-03-01  Crude oil, average (($/bbl))    1.63
3     1960-04-01  Crude oil, average (($/bbl))    1.63
4     1960-05-01  Crude oil, average (($/bbl))    1.63
...          ...                           ...     ...
55659 2024-12-01          Silver (($/troy oz))  30.764
55660 2025-01-01          Silver (($/troy oz))  30.411
55661 2025-02-01          Silver (($/troy oz))  32.152
55662 2025-03-01          Silver (($/troy oz))  33.188
55663 2025-04-01          Silver (($/troy oz))  32.225

[55664 rows x 3 columns]

In [23]:
monthly_long["Price"] = pd.to_numeric(monthly_long["Price"], errors = "coerce")

In [24]:
monthly_long

            Date                     Commodity   Price
0     1960-01-01  Crude oil, average (($/bbl))   1.630
1     1960-02-01  Crude oil, average (($/bbl))   1.630
2     1960-03-01  Crude oil, average (($/bbl))   1.630
3     1960-04-01  Crude oil, average (($/bbl))   1.630
4     1960-05-01  Crude oil, average (($/bbl))   1.630
...          ...                           ...     ...
55659 2024-12-01          Silver (($/troy oz))  30.764
55660 2025-01-01          Silver (($/troy oz))  30.411
55661 2025-02-01          Silver (($/troy oz))  32.152
55662 2025-03-01          Silver (($/troy oz))  33.188
55663 2025-04-01          Silver (($/troy oz))  32.225

[55664 rows x 3 columns]

In [25]:
monthly_long = monthly_long.sort_values(["Date",'Commodity']).reset_index(drop=True)

In [26]:
monthly_long

            Date                         Commodity        Price
0     1960-01-01                 Aluminum (($/mt))   511.471832
1     1960-01-01           Banana, Europe (($/kg))          NaN
2     1960-01-01               Banana, US (($/kg))     0.143080
3     1960-01-01                   Barley (($/mt))    20.364800
4     1960-01-01                  Beef ** (($/kg))     0.705500
...          ...                               ...          ...
55659 2025-04-01  Tobacco, US import u.v. (($/mt))  5428.194447
55660 2025-04-01                    Urea  (($/mt))   386.880000
55661 2025-04-01            Wheat, US HRW (($/mt))   249.580000
55662 2025-04-01            Wheat, US SRW (($/mt))   219.583846
55663 2025-04-01                     Zinc (($/mt))  2621.550000

[55664 rows x 3 columns]

In [27]:
monthly_long.dtypes

Date         datetime64[ns]
Commodity            object
Price               float64
dtype: object

In [28]:
monthly_long.describe()

                                Date         Price
count                          55664  49285.000000
mean   1992-08-15 23:08:34.285714304    660.550785
min              1960-01-01 00:00:00      0.028700
25%              1976-04-23 12:00:00      2.270538
50%              1992-08-16 12:00:00     82.000000
75%              2008-12-08 18:00:00    412.100000
max              2025-04-01 00:00:00  52179.048000
std                              NaN   2351.907296

In [29]:
monthly_long['Commodity'] = (monthly_long["Commodity"].str.replace("((","(")
                             .str.replace("))",")") )

In [30]:
monthly_long

            Date                       Commodity        Price
0     1960-01-01                 Aluminum ($/mt)   511.471832
1     1960-01-01           Banana, Europe ($/kg)          NaN
2     1960-01-01               Banana, US ($/kg)     0.143080
3     1960-01-01                   Barley ($/mt)    20.364800
4     1960-01-01                  Beef ** ($/kg)     0.705500
...          ...                             ...          ...
55659 2025-04-01  Tobacco, US import u.v. ($/mt)  5428.194447
55660 2025-04-01                    Urea  ($/mt)   386.880000
55661 2025-04-01            Wheat, US HRW ($/mt)   249.580000
55662 2025-04-01            Wheat, US SRW ($/mt)   219.583846
55663 2025-04-01                     Zinc ($/mt)  2621.550000

[55664 rows x 3 columns]

In [31]:
monthly_long.describe()

                                Date         Price
count                          55664  49285.000000
mean   1992-08-15 23:08:34.285714304    660.550785
min              1960-01-01 00:00:00      0.028700
25%              1976-04-23 12:00:00      2.270538
50%              1992-08-16 12:00:00     82.000000
75%              2008-12-08 18:00:00    412.100000
max              2025-04-01 00:00:00  52179.048000
std                              NaN   2351.907296

In [32]:
monthly_long["Price"] = monthly_long.groupby("Commodity")["Price"].transform(lambda x: x.fillna(x.mean()))

In [33]:
print("Remaining null values: ", monthly_long["Price"].isna().sum())

Remaining null values:  0

In [34]:
monthly_long

            Date                       Commodity        Price
0     1960-01-01                 Aluminum ($/mt)   511.471832
1     1960-01-01           Banana, Europe ($/kg)     0.963241
2     1960-01-01               Banana, US ($/kg)     0.143080
3     1960-01-01                   Barley ($/mt)    20.364800
4     1960-01-01                  Beef ** ($/kg)     0.705500
...          ...                             ...          ...
55659 2025-04-01  Tobacco, US import u.v. ($/mt)  5428.194447
55660 2025-04-01                    Urea  ($/mt)   386.880000
55661 2025-04-01            Wheat, US HRW ($/mt)   249.580000
55662 2025-04-01            Wheat, US SRW ($/mt)   219.583846
55663 2025-04-01                     Zinc ($/mt)  2621.550000

[55664 rows x 3 columns]

In [35]:
file_path_1 = r"C:\Users\salma\OneDrive\Desktop\Commodity-Price-Analytics\data\CMO-Historical-Data-Annual.xlsx"

In [36]:
df2 = pd.read_excel(
                    file_path_1,
                    sheet_name = "Annual Prices (Real)",
                    skiprows = 6,
                    header = [0,1]).reset_index(drop=True)

In [37]:
df2

,Unnamed: 0_level_0,"Crude oil, average","Crude oil, Brent","Crude oil, Dubai","Crude oil, WTI","Coal, Australian","Coal, South Afican","Natural gas, US","Natural gas, Europe","Liquefied natural gas, Japan",...,"Iron ore, cfr spot",Copper,Lead,Tin,Nickel,Zinc,Gold,Platinum,Silver,MUV Index
,Unnamed: 0_level_1,($/bbl),($/bbl),($/bbl),($/bbl),($/mt),($/mt),($/mmbtu),($/mmbtu),($/mmbtu),...,($/dmtu),($/mt),($/mt),($/mt),($/mt),($/mt),($/troy oz),($/troy oz),($/troy oz),(2010=100)
0,1960,8.514978,8.514978,8.514978,…,…,…,0.731348,2.114504,…,...,59.657082,3545.761145,1038.775019,11475.542921,8520.201437,1286.083748,184.247397,436.196701,4.773089,19.142740
1,1961,8.045025,8.045025,8.045025,…,…,…,0.768633,2.074151,…,...,56.468900,3244.062298,906.858764,12553.782905,8767.539742,1098.162963,180.628741,427.872337,4.737042,19.515167
2,1962,7.646138,7.646138,7.646138,…,…,…,0.804857,2.036156,…,...,55.384195,3245.299218,781.130106,12431.932539,8858.453040,935.268530,177.219364,420.034542,5.451520,19.879317
3,1963,7.686329,7.686329,7.686329,…,…,…,0.819875,2.005369,…,...,56.468900,3309.993923,895.756289,12850.176307,8924.682476,1083.815148,179.808866,414.707363,6.554432,19.515167
4,1964,7.327570,7.327570,7.327570,…,…,…,0.758024,1.941300,…,...,51.747803,4900.644952,1404.282417,17246.277631,8801.506181,1649.924453,177.377723,447.137570,6.534171,19.788280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2020,42.142776,43.207354,43.069459,40.151515,62.088866,67.065032,2.057584,3.311567,8.491673,...,111.254682,6306.201055,1864.025366,17491.929690,14082.999660,2315.065543,1808.226932,902.342526,20.977102,97.900000
61,2021,63.135791,64.390615,62.893053,62.123705,126.1883,109.543171,3.520483,14.731150,9.836974,...,147.815356,8516.499086,2011.302559,29601.598111,16878.396557,2744.534583,1644.999238,997.379647,23.002361,109.400000
62,2022,82.674661,84.992905,82.630197,80.40088,293.651199,204.816498,5.422151,34.346664,15.689165,...,103.278700,7511.592876,1831.074926,26679.782886,21995.508727,2964.136512,1533.080034,818.829999,18.556336,117.450000
63,2023,70.776244,72.406880,71.850716,68.071136,151.427841,104.387168,2.224197,11.492904,12.609209,...,105.674116,7441.096261,1871.864592,22732.789950,18861.625767,2324.806456,1702.599328,846.936897,20.507084,114.100000
64,2024,68.404624,70.111787,69.207935,65.89415,118.285549,91.897842,1.903656,9.524161,11.159178,...,95.045613,7942.780191,1797.955401,26121.867217,14608.134231,2411.678975,2074.459166,829.859542,24.560527,115.100000

In [38]:
df2.columns = [f"{commodity} {unit}" for commodity, unit in df2.columns]

In [39]:
df2

,Unnamed: 0_level_0 Unnamed: 0_level_1,"Crude oil, average ($/bbl)","Crude oil, Brent ($/bbl)","Crude oil, Dubai ($/bbl)","Crude oil, WTI ($/bbl)","Coal, Australian ($/mt)","Coal, South Afican ($/mt)","Natural gas, US ($/mmbtu)","Natural gas, Europe ($/mmbtu)","Liquefied natural gas, Japan ($/mmbtu)",...,"Iron ore, cfr spot ($/dmtu)",Copper ($/mt),Lead ($/mt),Tin ($/mt),Nickel ($/mt),Zinc ($/mt),Gold ($/troy oz),Platinum ($/troy oz),Silver ($/troy oz),MUV Index (2010=100)
0,1960,8.514978,8.514978,8.514978,…,…,…,0.731348,2.114504,…,...,59.657082,3545.761145,1038.775019,11475.542921,8520.201437,1286.083748,184.247397,436.196701,4.773089,19.142740
1,1961,8.045025,8.045025,8.045025,…,…,…,0.768633,2.074151,…,...,56.468900,3244.062298,906.858764,12553.782905,8767.539742,1098.162963,180.628741,427.872337,4.737042,19.515167
2,1962,7.646138,7.646138,7.646138,…,…,…,0.804857,2.036156,…,...,55.384195,3245.299218,781.130106,12431.932539,8858.453040,935.268530,177.219364,420.034542,5.451520,19.879317
3,1963,7.686329,7.686329,7.686329,…,…,…,0.819875,2.005369,…,...,56.468900,3309.993923,895.756289,12850.176307,8924.682476,1083.815148,179.808866,414.707363,6.554432,19.515167
4,1964,7.327570,7.327570,7.327570,…,…,…,0.758024,1.941300,…,...,51.747803,4900.644952,1404.282417,17246.277631,8801.506181,1649.924453,177.377723,447.137570,6.534171,19.788280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2020,42.142776,43.207354,43.069459,40.151515,62.088866,67.065032,2.057584,3.311567,8.491673,...,111.254682,6306.201055,1864.025366,17491.929690,14082.999660,2315.065543,1808.226932,902.342526,20.977102,97.900000
61,2021,63.135791,64.390615,62.893053,62.123705,126.1883,109.543171,3.520483,14.731150,9.836974,...,147.815356,8516.499086,2011.302559,29601.598111,16878.396557,2744.534583,1644.999238,997.379647,23.002361,109.400000
62,2022,82.674661,84.992905,82.630197,80.40088,293.651199,204.816498,5.422151,34.346664,15.689165,...,103.278700,7511.592876,1831.074926,26679.782886,21995.508727,2964.136512,1533.080034,818.829999,18.556336,117.450000
63,2023,70.776244,72.406880,71.850716,68.071136,151.427841,104.387168,2.224197,11.492904,12.609209,...,105.674116,7441.096261,1871.864592,22732.789950,18861.625767,2324.806456,1702.599328,846.936897,20.507084,114.100000
64,2024,68.404624,70.111787,69.207935,65.89415,118.285549,91.897842,1.903656,9.524161,11.159178,...,95.045613,7942.780191,1797.955401,26121.867217,14608.134231,2411.678975,2074.459166,829.859542,24.560527,115.100000

In [40]:
df2 = df2.rename(columns = {df2.columns[0]:"Year"})

In [41]:
df2

,Year,"Crude oil, average ($/bbl)","Crude oil, Brent ($/bbl)","Crude oil, Dubai ($/bbl)","Crude oil, WTI ($/bbl)","Coal, Australian ($/mt)","Coal, South Afican ($/mt)","Natural gas, US ($/mmbtu)","Natural gas, Europe ($/mmbtu)","Liquefied natural gas, Japan ($/mmbtu)",...,"Iron ore, cfr spot ($/dmtu)",Copper ($/mt),Lead ($/mt),Tin ($/mt),Nickel ($/mt),Zinc ($/mt),Gold ($/troy oz),Platinum ($/troy oz),Silver ($/troy oz),MUV Index (2010=100)
0,1960,8.514978,8.514978,8.514978,…,…,…,0.731348,2.114504,…,...,59.657082,3545.761145,1038.775019,11475.542921,8520.201437,1286.083748,184.247397,436.196701,4.773089,19.142740
1,1961,8.045025,8.045025,8.045025,…,…,…,0.768633,2.074151,…,...,56.468900,3244.062298,906.858764,12553.782905,8767.539742,1098.162963,180.628741,427.872337,4.737042,19.515167
2,1962,7.646138,7.646138,7.646138,…,…,…,0.804857,2.036156,…,...,55.384195,3245.299218,781.130106,12431.932539,8858.453040,935.268530,177.219364,420.034542,5.451520,19.879317
3,1963,7.686329,7.686329,7.686329,…,…,…,0.819875,2.005369,…,...,56.468900,3309.993923,895.756289,12850.176307,8924.682476,1083.815148,179.808866,414.707363,6.554432,19.515167
4,1964,7.327570,7.327570,7.327570,…,…,…,0.758024,1.941300,…,...,51.747803,4900.644952,1404.282417,17246.277631,8801.506181,1649.924453,177.377723,447.137570,6.534171,19.788280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2020,42.142776,43.207354,43.069459,40.151515,62.088866,67.065032,2.057584,3.311567,8.491673,...,111.254682,6306.201055,1864.025366,17491.929690,14082.999660,2315.065543,1808.226932,902.342526,20.977102,97.900000
61,2021,63.135791,64.390615,62.893053,62.123705,126.1883,109.543171,3.520483,14.731150,9.836974,...,147.815356,8516.499086,2011.302559,29601.598111,16878.396557,2744.534583,1644.999238,997.379647,23.002361,109.400000
62,2022,82.674661,84.992905,82.630197,80.40088,293.651199,204.816498,5.422151,34.346664,15.689165,...,103.278700,7511.592876,1831.074926,26679.782886,21995.508727,2964.136512,1533.080034,818.829999,18.556336,117.450000
63,2023,70.776244,72.406880,71.850716,68.071136,151.427841,104.387168,2.224197,11.492904,12.609209,...,105.674116,7441.096261,1871.864592,22732.789950,18861.625767,2324.806456,1702.599328,846.936897,20.507084,114.100000
64,2024,68.404624,70.111787,69.207935,65.89415,118.285549,91.897842,1.903656,9.524161,11.159178,...,95.045613,7942.780191,1797.955401,26121.867217,14608.134231,2411.678975,2074.459166,829.859542,24.560527,115.100000

In [42]:
yearly_long= pd.melt(
                    df2,
                    id_vars = ["Year"],
                    var_name = "Commodity",
                    value_name = "Price")

In [43]:
yearly_long

      Year                   Commodity     Price
0     1960  Crude oil, average ($/bbl)  8.514978
1     1961  Crude oil, average ($/bbl)  8.045025
2     1962  Crude oil, average ($/bbl)  7.646138
3     1963  Crude oil, average ($/bbl)  7.686329
4     1964  Crude oil, average ($/bbl)   7.32757
...    ...                         ...       ...
4545  2020        MUV Index (2010=100)      97.9
4546  2021        MUV Index (2010=100)     109.4
4547  2022        MUV Index (2010=100)    117.45
4548  2023        MUV Index (2010=100)     114.1
4549  2024        MUV Index (2010=100)     115.1

[4550 rows x 3 columns]

In [44]:
yearly_long["Price"] = pd.to_numeric(yearly_long["Price"], errors = "coerce")

In [45]:
yearly_long

      Year                   Commodity       Price
0     1960  Crude oil, average ($/bbl)    8.514978
1     1961  Crude oil, average ($/bbl)    8.045025
2     1962  Crude oil, average ($/bbl)    7.646138
3     1963  Crude oil, average ($/bbl)    7.686329
4     1964  Crude oil, average ($/bbl)    7.327570
...    ...                         ...         ...
4545  2020        MUV Index (2010=100)   97.900000
4546  2021        MUV Index (2010=100)  109.400000
4547  2022        MUV Index (2010=100)  117.450000
4548  2023        MUV Index (2010=100)  114.100000
4549  2024        MUV Index (2010=100)  115.100000

[4550 rows x 3 columns]

In [46]:
yearly_long.describe()

              Year         Price
count  4550.000000   4098.000000
mean   1992.000000    876.704071
std      18.763725   2733.241643
min    1960.000000      0.149892
25%    1976.000000      3.593444
50%    1992.000000    114.830802
75%    2008.000000    533.055896
max    2024.000000  39012.686524

In [47]:
yearly_long["Price"] = yearly_long.groupby("Commodity")["Price"].transform(lambda x: x.fillna(x.mean()))

In [48]:
yearly_long

      Year                   Commodity       Price
0     1960  Crude oil, average ($/bbl)    8.514978
1     1961  Crude oil, average ($/bbl)    8.045025
2     1962  Crude oil, average ($/bbl)    7.646138
3     1963  Crude oil, average ($/bbl)    7.686329
4     1964  Crude oil, average ($/bbl)    7.327570
...    ...                         ...         ...
4545  2020        MUV Index (2010=100)   97.900000
4546  2021        MUV Index (2010=100)  109.400000
4547  2022        MUV Index (2010=100)  117.450000
4548  2023        MUV Index (2010=100)  114.100000
4549  2024        MUV Index (2010=100)  115.100000

[4550 rows x 3 columns]

In [49]:
yearly_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4550 entries, 0 to 4549
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       4550 non-null   int64
 1   Commodity  4550 non-null   object
 2   Price      4550 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 106.8+ KB

In [50]:
yearly_long.describe()

              Year         Price
count  4550.000000   4550.000000
mean   1992.000000    824.959202
std      18.763725   2601.128801
min    1960.000000      0.149892
25%    1976.000000      3.817256
50%    1992.000000    125.008061
75%    2008.000000    528.449804
max    2024.000000  39012.686524

In [51]:
BD_Commodities_Need = [
    "Crude oil, average ($/bbl)",
    'Natural gas, US ($/mmbtu)',
    'Wheat, US HRW ($/mt)',
    'Rice, Thai 5% ($/mt)',
    'Coal, Australian ($/mt)',
    'Palm oil ($/mt)',
    'Soybean oil, US ($/mt)',
    "Urea ($/mt)",
    'Gold ($/troy oz)',
    "Maize ($/mt)",
    'Cotton, A Index ($/kg)',
    "Sugar, world ($/kg)",
    "Copper ($/mt)",
    "Aluminum ($/mt)"
]

In [52]:
print("Available commodities in data all:")
print(monthly_long['Commodity'].unique())

Available commodities in data all:
['Aluminum ($/mt)' 'Banana, Europe ($/kg)' 'Banana, US ($/kg)'
 'Barley ($/mt)' 'Beef ** ($/kg)' 'Chicken ** ($/kg)'
 'Coal, Australian ($/mt)' 'Coal, South African ** ($/mt)' 'Cocoa ($/kg)'
 'Coconut oil ($/mt)' 'Coffee, Arabica ($/kg)' 'Coffee, Robusta ($/kg)'
 'Copper ($/mt)' 'Cotton, A Index ($/kg)' 'Crude oil, Brent ($/bbl)'
 'Crude oil, Dubai ($/bbl)' 'Crude oil, WTI ($/bbl)'
 'Crude oil, average ($/bbl)' 'DAP ($/mt)' 'Fish meal ($/mt)'
 'Gold ($/troy oz)' 'Groundnut oil ** ($/mt)' 'Groundnuts ($/mt)'
 'Iron ore, cfr spot ($/dmtu)' 'Lamb ** ($/kg)' 'Lead ($/mt)'
 'Liquefied natural gas, Japan ($/mmbtu)' 'Logs, Cameroon ($/cubic meter)'
 'Logs, Malaysian ($/cubic meter)' 'Maize ($/mt)'
 'Natural gas index (2010=100)' 'Natural gas, Europe ($/mmbtu)'
 'Natural gas, US ($/mmbtu)' 'Nickel ($/mt)' 'Orange ($/kg)'
 'Palm kernel oil ($/mt)' 'Palm oil ($/mt)' 'Phosphate rock ($/mt)'
 'Platinum ($/troy oz)' 'Plywood (cents/sheet)'
 'Potassium chloride ** ($/mt)' 'Rapeseed oil ($/mt)'
 'Rice, Thai 25%  ($/mt)' 'Rice, Thai 5%  ($/mt)' 'Rice, Thai A.1 ($/mt)'
 'Rice, Viet Namese 5% ($/mt)' 'Rubber, RSS3 ($/kg)'
 'Rubber, TSR20 ** ($/kg)' 'Sawnwood, Cameroon ($/cubic meter)'
 'Sawnwood, Malaysian ($/cubic meter)' 'Shrimps, Mexican ($/kg)'
 'Silver ($/troy oz)' 'Sorghum ($/mt)' 'Soybean meal ($/mt)'
 'Soybean oil ($/mt)' 'Soybeans ($/mt)' 'Sugar, EU ($/kg)'
 'Sugar, US ($/kg)' 'Sugar, world ($/kg)' 'Sunflower oil ($/mt)'
 'TSP ($/mt)' 'Tea, Colombo ($/kg)' 'Tea, Kolkata ($/kg)'
 'Tea, Mombasa ($/kg)' 'Tea, avg 3 auctions ($/kg)' 'Tin ($/mt)'
 'Tobacco, US import u.v. ($/mt)' 'Urea  ($/mt)' 'Wheat, US HRW ($/mt)'
 'Wheat, US SRW ($/mt)' 'Zinc ($/mt)']

In [53]:
monthly_long_Bangladesh = monthly_long[monthly_long["Commodity"].isin(BD_Commodities_Need)].copy()

In [54]:
monthly_long_Bangladesh

            Date                   Commodity       Price
0     1960-01-01             Aluminum ($/mt)  511.471832
6     1960-01-01     Coal, Australian ($/mt)   58.044402
12    1960-01-01               Copper ($/mt)  715.400000
13    1960-01-01      Cotton, A Index ($/kg)    0.648600
17    1960-01-01  Crude oil, average ($/bbl)    1.630000
...          ...                         ...         ...
55622 2025-04-01                Maize ($/mt)  215.000630
55625 2025-04-01   Natural gas, US ($/mmbtu)    3.399800
55629 2025-04-01             Palm oil ($/mt)  994.370000
55651 2025-04-01         Sugar, world ($/kg)    0.401020
55661 2025-04-01        Wheat, US HRW ($/mt)  249.580000

[8624 rows x 3 columns]

In [55]:
monthly_long

            Date                       Commodity        Price
0     1960-01-01                 Aluminum ($/mt)   511.471832
1     1960-01-01           Banana, Europe ($/kg)     0.963241
2     1960-01-01               Banana, US ($/kg)     0.143080
3     1960-01-01                   Barley ($/mt)    20.364800
4     1960-01-01                  Beef ** ($/kg)     0.705500
...          ...                             ...          ...
55659 2025-04-01  Tobacco, US import u.v. ($/mt)  5428.194447
55660 2025-04-01                    Urea  ($/mt)   386.880000
55661 2025-04-01            Wheat, US HRW ($/mt)   249.580000
55662 2025-04-01            Wheat, US SRW ($/mt)   219.583846
55663 2025-04-01                     Zinc ($/mt)  2621.550000

[55664 rows x 3 columns]

In [56]:
monthly_long['Commodity_List'] = monthly_long['Commodity'].apply(
    lambda x: ' '.join(x.split())
)

In [57]:
monthly_long

,Date,Commodity,Price,Commodity_List
0,1960-01-01,Aluminum ($/mt),511.471832,Aluminum ($/mt)
1,1960-01-01,"Banana, Europe ($/kg)",0.963241,"Banana, Europe ($/kg)"
2,1960-01-01,"Banana, US ($/kg)",0.143080,"Banana, US ($/kg)"
3,1960-01-01,Barley ($/mt),20.364800,Barley ($/mt)
4,1960-01-01,Beef ** ($/kg),0.705500,Beef ** ($/kg)
...,...,...,...,...
55659,2025-04-01,"Tobacco, US import u.v. ($/mt)",5428.194447,"Tobacco, US import u.v. ($/mt)"
55660,2025-04-01,Urea ($/mt),386.880000,Urea ($/mt)
55661,2025-04-01,"Wheat, US HRW ($/mt)",249.580000,"Wheat, US HRW ($/mt)"
55662,2025-04-01,"Wheat, US SRW ($/mt)",219.583846,"Wheat, US SRW ($/mt)"
55663,2025-04-01,Zinc ($/mt),2621.550000,Zinc ($/mt)

In [58]:
monthly_long_Bangladesh = monthly_long[
    monthly_long['Commodity_List'].isin(BD_Commodities_Need)
].copy()

In [59]:
monthly_long_Bangladesh

,Date,Commodity,Price,Commodity_List
0,1960-01-01,Aluminum ($/mt),511.471832,Aluminum ($/mt)
6,1960-01-01,"Coal, Australian ($/mt)",58.044402,"Coal, Australian ($/mt)"
12,1960-01-01,Copper ($/mt),715.400000,Copper ($/mt)
13,1960-01-01,"Cotton, A Index ($/kg)",0.648600,"Cotton, A Index ($/kg)"
17,1960-01-01,"Crude oil, average ($/bbl)",1.630000,"Crude oil, average ($/bbl)"
...,...,...,...,...
55629,2025-04-01,Palm oil ($/mt),994.370000,Palm oil ($/mt)
55636,2025-04-01,"Rice, Thai 5% ($/mt)",415.000000,"Rice, Thai 5% ($/mt)"
55651,2025-04-01,"Sugar, world ($/kg)",0.401020,"Sugar, world ($/kg)"
55660,2025-04-01,Urea ($/mt),386.880000,Urea ($/mt)
55661,2025-04-01,"Wheat, US HRW ($/mt)",249.580000,"Wheat, US HRW ($/mt)"

In [60]:
print("=== YOUR BD LIST ===")
for item in BD_Commodities_Need:
    print(f"'{item}'")

=== YOUR BD LIST ===
'Crude oil, average ($/bbl)'
'Natural gas, US ($/mmbtu)'
'Wheat, US HRW ($/mt)'
'Rice, Thai 5% ($/mt)'
'Coal, Australian ($/mt)'
'Palm oil ($/mt)'
'Soybean oil, US ($/mt)'
'Urea ($/mt)'
'Gold ($/troy oz)'
'Maize ($/mt)'
'Cotton, A Index ($/kg)'
'Sugar, world ($/kg)'
'Copper ($/mt)'
'Aluminum ($/mt)'

In [61]:
monthly_long_Bangladesh = monthly_long_Bangladesh.drop(columns=['Commodity_List'])
monthly_long_Bangladesh['Commodity'] = monthly_long_Bangladesh['Commodity'].apply(
    lambda x: ' '.join(x.split())   
)

In [62]:
monthly_long_Bangladesh

            Date                   Commodity       Price
0     1960-01-01             Aluminum ($/mt)  511.471832
6     1960-01-01     Coal, Australian ($/mt)   58.044402
12    1960-01-01               Copper ($/mt)  715.400000
13    1960-01-01      Cotton, A Index ($/kg)    0.648600
17    1960-01-01  Crude oil, average ($/bbl)    1.630000
...          ...                         ...         ...
55629 2025-04-01             Palm oil ($/mt)  994.370000
55636 2025-04-01        Rice, Thai 5% ($/mt)  415.000000
55651 2025-04-01         Sugar, world ($/kg)    0.401020
55660 2025-04-01                 Urea ($/mt)  386.880000
55661 2025-04-01        Wheat, US HRW ($/mt)  249.580000

[10192 rows x 3 columns]

In [63]:
print("BANGLADESH DATA LOADED!")
print("Shape:", monthly_long_Bangladesh.shape)
print("Unique commodities:", monthly_long_Bangladesh['Commodity'].nunique())
display(monthly_long_Bangladesh.head(10))

BANGLADESH DATA LOADED!
Shape: (10192, 3)
Unique commodities: 13

         Date                   Commodity       Price
0  1960-01-01             Aluminum ($/mt)  511.471832
6  1960-01-01     Coal, Australian ($/mt)   58.044402
12 1960-01-01               Copper ($/mt)  715.400000
13 1960-01-01      Cotton, A Index ($/kg)    0.648600
17 1960-01-01  Crude oil, average ($/bbl)    1.630000
20 1960-01-01            Gold ($/troy oz)   35.270000
29 1960-01-01                Maize ($/mt)   45.000000
32 1960-01-01   Natural gas, US ($/mmbtu)    0.140000
36 1960-01-01             Palm oil ($/mt)  233.000000
43 1960-01-01        Rice, Thai 5% ($/mt)  104.450000

In [64]:
monthly_long_Bangladesh.reset_index(drop=True)

            Date                   Commodity       Price
0     1960-01-01             Aluminum ($/mt)  511.471832
1     1960-01-01     Coal, Australian ($/mt)   58.044402
2     1960-01-01               Copper ($/mt)  715.400000
3     1960-01-01      Cotton, A Index ($/kg)    0.648600
4     1960-01-01  Crude oil, average ($/bbl)    1.630000
...          ...                         ...         ...
10187 2025-04-01             Palm oil ($/mt)  994.370000
10188 2025-04-01        Rice, Thai 5% ($/mt)  415.000000
10189 2025-04-01         Sugar, world ($/kg)    0.401020
10190 2025-04-01                 Urea ($/mt)  386.880000
10191 2025-04-01        Wheat, US HRW ($/mt)  249.580000

[10192 rows x 3 columns]

In [65]:
category_map = {
    # ENERGY
    'Crude oil, average ($/bbl)': 'Energy',
    'Natural gas, US ($/mmbtu)': 'Energy',
    'Coal, Australian ($/mt)': 'Energy',

    # FOOD
    'Wheat, US HRW ($/mt)': 'Food',
    'Rice, Thai 5% ($/mt)': 'Food',
    'Maize ($/mt)': 'Food',
    'Palm oil ($/mt)': 'Food',
    'Soybean oil, US ($/mt)': 'Food',
    'Sugar, world ($/kg)': 'Food',

    # AGRICULTURE INPUT
    'Urea ($/mt)': 'Fertilizer',

    # INDUSTRY & EXPORT
    'Cotton, A Index ($/kg)': 'Textile',
    'Copper ($/mt)': 'Industry',
    'Aluminum ($/mt)': 'Industry',

    # INFLATION HEDGE
    'Gold ($/troy oz)': 'Precious Metal'
}

In [66]:
monthly_long_Bangladesh["Category"] = monthly_long_Bangladesh["Commodity"].map(category_map)

In [67]:
monthly_long_Bangladesh

            Date                   Commodity       Price    Category
0     1960-01-01             Aluminum ($/mt)  511.471832    Industry
6     1960-01-01     Coal, Australian ($/mt)   58.044402      Energy
12    1960-01-01               Copper ($/mt)  715.400000    Industry
13    1960-01-01      Cotton, A Index ($/kg)    0.648600     Textile
17    1960-01-01  Crude oil, average ($/bbl)    1.630000      Energy
...          ...                         ...         ...         ...
55629 2025-04-01             Palm oil ($/mt)  994.370000        Food
55636 2025-04-01        Rice, Thai 5% ($/mt)  415.000000        Food
55651 2025-04-01         Sugar, world ($/kg)    0.401020        Food
55660 2025-04-01                 Urea ($/mt)  386.880000  Fertilizer
55661 2025-04-01        Wheat, US HRW ($/mt)  249.580000        Food

[10192 rows x 4 columns]

In [68]:
monthly_long_Bangladesh = monthly_long_Bangladesh.sort_values(["Date", "Category","Commodity"]).reset_index(drop=True)

In [69]:
monthly_long_Bangladesh

            Date                   Commodity        Price        Category
0     1960-01-01     Coal, Australian ($/mt)    58.044402          Energy
1     1960-01-01  Crude oil, average ($/bbl)     1.630000          Energy
2     1960-01-01   Natural gas, US ($/mmbtu)     0.140000          Energy
3     1960-01-01                 Urea ($/mt)    42.250000      Fertilizer
4     1960-01-01                Maize ($/mt)    45.000000            Food
...          ...                         ...          ...             ...
10187 2025-04-01        Wheat, US HRW ($/mt)   249.580000            Food
10188 2025-04-01             Aluminum ($/mt)  2371.600000        Industry
10189 2025-04-01               Copper ($/mt)  9176.800000        Industry
10190 2025-04-01            Gold ($/troy oz)  3217.640000  Precious Metal
10191 2025-04-01      Cotton, A Index ($/kg)     1.727540         Textile

[10192 rows x 4 columns]

In [70]:
monthly_long_Bangladesh = monthly_long_Bangladesh[["Date", "Category", "Commodity", "Price"]]

In [71]:
monthly_long_Bangladesh

            Date        Category                   Commodity        Price
0     1960-01-01          Energy     Coal, Australian ($/mt)    58.044402
1     1960-01-01          Energy  Crude oil, average ($/bbl)     1.630000
2     1960-01-01          Energy   Natural gas, US ($/mmbtu)     0.140000
3     1960-01-01      Fertilizer                 Urea ($/mt)    42.250000
4     1960-01-01            Food                Maize ($/mt)    45.000000
...          ...             ...                         ...          ...
10187 2025-04-01            Food        Wheat, US HRW ($/mt)   249.580000
10188 2025-04-01        Industry             Aluminum ($/mt)  2371.600000
10189 2025-04-01        Industry               Copper ($/mt)  9176.800000
10190 2025-04-01  Precious Metal            Gold ($/troy oz)  3217.640000
10191 2025-04-01         Textile      Cotton, A Index ($/kg)     1.727540

[10192 rows x 4 columns]

In [72]:
print("Category column added successfully!")

Category column added successfully!

In [73]:
print(monthly_long_Bangladesh["Category"].value_counts())

Category
Food              3920
Energy            2352
Industry          1568
Fertilizer         784
Precious Metal     784
Textile            784
Name: count, dtype: int64

In [74]:
monthly_long_Bangladesh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10192 entries, 0 to 10191
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10192 non-null  datetime64[ns]
 1   Category   10192 non-null  object
 2   Commodity  10192 non-null  object
 3   Price      10192 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 318.6+ KB

In [75]:
monthly_long_Bangladesh.describe()

                                Date         Price
count                          10192  10192.000000
mean   1992-08-15 23:08:34.285714304    520.872105
min              1960-01-01 00:00:00      0.028700
25%              1976-04-23 12:00:00      9.626504
50%              1992-08-16 12:00:00    117.750000
75%              2008-12-08 18:00:00    420.243500
max              2025-04-01 00:00:00  10230.890000
std                              NaN   1197.313758

In [76]:
yearly_long_Bangladesh = yearly_long[yearly_long["Commodity"].isin(BD_Commodities_Need)].copy()

In [77]:
yearly_long_Bangladesh

      Year                   Commodity        Price
0     1960  Crude oil, average ($/bbl)     8.514978
1     1961  Crude oil, average ($/bbl)     8.045025
2     1962  Crude oil, average ($/bbl)     7.646138
3     1963  Crude oil, average ($/bbl)     7.686329
4     1964  Crude oil, average ($/bbl)     7.327570
...    ...                         ...          ...
4350  2020            Gold ($/troy oz)  1808.226932
4351  2021            Gold ($/troy oz)  1644.999238
4352  2022            Gold ($/troy oz)  1533.080034
4353  2023            Gold ($/troy oz)  1702.599328
4354  2024            Gold ($/troy oz)  2074.459166

[715 rows x 3 columns]

In [78]:
yearly_long_Bangladesh.reset_index(drop=True, inplace=True)

In [79]:
yearly_long_Bangladesh

     Year                   Commodity        Price
0    1960  Crude oil, average ($/bbl)     8.514978
1    1961  Crude oil, average ($/bbl)     8.045025
2    1962  Crude oil, average ($/bbl)     7.646138
3    1963  Crude oil, average ($/bbl)     7.686329
4    1964  Crude oil, average ($/bbl)     7.327570
..    ...                         ...          ...
710  2020            Gold ($/troy oz)  1808.226932
711  2021            Gold ($/troy oz)  1644.999238
712  2022            Gold ($/troy oz)  1533.080034
713  2023            Gold ($/troy oz)  1702.599328
714  2024            Gold ($/troy oz)  2074.459166

[715 rows x 3 columns]

In [80]:
yearly_long_Bangladesh["Category"] = yearly_long_Bangladesh["Commodity"].map(category_map)

In [81]:
yearly_long_Bangladesh

     Year                   Commodity        Price        Category
0    1960  Crude oil, average ($/bbl)     8.514978          Energy
1    1961  Crude oil, average ($/bbl)     8.045025          Energy
2    1962  Crude oil, average ($/bbl)     7.646138          Energy
3    1963  Crude oil, average ($/bbl)     7.686329          Energy
4    1964  Crude oil, average ($/bbl)     7.327570          Energy
..    ...                         ...          ...             ...
710  2020            Gold ($/troy oz)  1808.226932  Precious Metal
711  2021            Gold ($/troy oz)  1644.999238  Precious Metal
712  2022            Gold ($/troy oz)  1533.080034  Precious Metal
713  2023            Gold ($/troy oz)  1702.599328  Precious Metal
714  2024            Gold ($/troy oz)  2074.459166  Precious Metal

[715 rows x 4 columns]

In [82]:
yearly_long_Bangladesh =yearly_long_Bangladesh[["Year", "Category","Commodity","Price"]]

In [83]:
yearly_long_Bangladesh = yearly_long_Bangladesh.sort_values(["Year", "Category","Commodity"]).reset_index(drop=True)

In [84]:
print("Category added in year data")
print(yearly_long_Bangladesh["Category"].value_counts())

Category added in year data
Category
Food              260
Energy            195
Industry          130
Precious Metal     65
Textile            65
Name: count, dtype: int64

In [85]:
yearly_long_Bangladesh

     Year        Category                   Commodity        Price
0    1960          Energy     Coal, Australian ($/mt)    66.234035
1    1960          Energy  Crude oil, average ($/bbl)     8.514978
2    1960          Energy   Natural gas, US ($/mmbtu)     0.731348
3    1960            Food                Maize ($/mt)   232.464110
4    1960            Food             Palm oil ($/mt)  1172.333051
..    ...             ...                         ...          ...
710  2024            Food        Wheat, US HRW ($/mt)   233.426006
711  2024        Industry             Aluminum ($/mt)  2101.665219
712  2024        Industry               Copper ($/mt)  7942.780191
713  2024  Precious Metal            Gold ($/troy oz)  2074.459166
714  2024         Textile      Cotton, A Index ($/kg)     1.660153

[715 rows x 4 columns]

In [86]:
yearly_long_Bangladesh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       715 non-null    int64
 1   Category   715 non-null    object
 2   Commodity  715 non-null    object
 3   Price      715 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 22.5+ KB

In [87]:
monthly_final = monthly_long_Bangladesh.copy()

In [88]:
monthly_final["Year"] = monthly_final["Date"].dt.year
monthly_final["Period"] = "Monthly"
monthly_final = monthly_final[["Year", "Date", "Period", "Category", "Commodity", "Price"]]

In [89]:
monthly_final

,Year,Date,Period,Category,Commodity,Price
0,1960,1960-01-01,Monthly,Energy,"Coal, Australian ($/mt)",58.044402
1,1960,1960-01-01,Monthly,Energy,"Crude oil, average ($/bbl)",1.630000
2,1960,1960-01-01,Monthly,Energy,"Natural gas, US ($/mmbtu)",0.140000
3,1960,1960-01-01,Monthly,Fertilizer,Urea ($/mt),42.250000
4,1960,1960-01-01,Monthly,Food,Maize ($/mt),45.000000
...,...,...,...,...,...,...
10187,2025,2025-04-01,Monthly,Food,"Wheat, US HRW ($/mt)",249.580000
10188,2025,2025-04-01,Monthly,Industry,Aluminum ($/mt),2371.600000
10189,2025,2025-04-01,Monthly,Industry,Copper ($/mt),9176.800000
10190,2025,2025-04-01,Monthly,Precious Metal,Gold ($/troy oz),3217.640000
10191,2025,2025-04-01,Monthly,Textile,"Cotton, A Index ($/kg)",1.727540

In [90]:
yearly_final = yearly_long_Bangladesh.copy()
yearly_final['Period'] = 'Annual'
yearly_final['Date'] = pd.NaT  
yearly_final = yearly_final[['Year', 'Date', 'Period', 'Category', 'Commodity', 'Price']]

In [91]:
yearly_final

,Year,Date,Period,Category,Commodity,Price
0,1960,NaT,Annual,Energy,"Coal, Australian ($/mt)",66.234035
1,1960,NaT,Annual,Energy,"Crude oil, average ($/bbl)",8.514978
2,1960,NaT,Annual,Energy,"Natural gas, US ($/mmbtu)",0.731348
3,1960,NaT,Annual,Food,Maize ($/mt),232.464110
4,1960,NaT,Annual,Food,Palm oil ($/mt),1172.333051
...,...,...,...,...,...,...
710,2024,NaT,Annual,Food,"Wheat, US HRW ($/mt)",233.426006
711,2024,NaT,Annual,Industry,Aluminum ($/mt),2101.665219
712,2024,NaT,Annual,Industry,Copper ($/mt),7942.780191
713,2024,NaT,Annual,Precious Metal,Gold ($/troy oz),2074.459166
714,2024,NaT,Annual,Textile,"Cotton, A Index ($/kg)",1.660153

In [92]:
final_bd_commodities = pd.concat([monthly_final, yearly_final], ignore_index=True)

In [93]:
final_bd_commodities

,Year,Date,Period,Category,Commodity,Price
0,1960,1960-01-01,Monthly,Energy,"Coal, Australian ($/mt)",58.044402
1,1960,1960-01-01,Monthly,Energy,"Crude oil, average ($/bbl)",1.630000
2,1960,1960-01-01,Monthly,Energy,"Natural gas, US ($/mmbtu)",0.140000
3,1960,1960-01-01,Monthly,Fertilizer,Urea ($/mt),42.250000
4,1960,1960-01-01,Monthly,Food,Maize ($/mt),45.000000
...,...,...,...,...,...,...
10902,2024,NaT,Annual,Food,"Wheat, US HRW ($/mt)",233.426006
10903,2024,NaT,Annual,Industry,Aluminum ($/mt),2101.665219
10904,2024,NaT,Annual,Industry,Copper ($/mt),7942.780191
10905,2024,NaT,Annual,Precious Metal,Gold ($/troy oz),2074.459166
10906,2024,NaT,Annual,Textile,"Cotton, A Index ($/kg)",1.660153

In [94]:
final_bd_commodities = final_bd_commodities.sort_values(
    ['Year', 'Period', 'Category', 'Commodity', 'Date']
).reset_index(drop=True)

In [95]:
final_bd_commodities

,Year,Date,Period,Category,Commodity,Price
0,1960,NaT,Annual,Energy,"Coal, Australian ($/mt)",66.234035
1,1960,NaT,Annual,Energy,"Crude oil, average ($/bbl)",8.514978
2,1960,NaT,Annual,Energy,"Natural gas, US ($/mmbtu)",0.731348
3,1960,NaT,Annual,Food,Maize ($/mt),232.464110
4,1960,NaT,Annual,Food,Palm oil ($/mt),1172.333051
...,...,...,...,...,...,...
10902,2025,2025-04-01,Monthly,Precious Metal,Gold ($/troy oz),3217.640000
10903,2025,2025-01-01,Monthly,Textile,"Cotton, A Index ($/kg)",1.723572
10904,2025,2025-02-01,Monthly,Textile,"Cotton, A Index ($/kg)",1.721147
10905,2025,2025-03-01,Monthly,Textile,"Cotton, A Index ($/kg)",1.712549
10906,2025,2025-04-01,Monthly,Textile,"Cotton, A Index ($/kg)",1.727540

In [96]:
final_bd_commodities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10907 entries, 0 to 10906
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       10907 non-null  int64
 1   Date       10192 non-null  datetime64[ns]
 2   Period     10907 non-null  object
 3   Category   10907 non-null  object
 4   Commodity  10907 non-null  object
 5   Price      10907 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 511.4+ KB

In [97]:
print("FINAL MERGED DATASET:")
print(f"Shape: {final_bd_commodities.shape}")
print(f"Monthly rows: {len(final_bd_commodities[final_bd_commodities['Period'] == 'Monthly'])}")
print(f"Annual rows: {len(final_bd_commodities[final_bd_commodities['Period'] == 'Annual'])}")
display(final_bd_commodities.head(10))

FINAL MERGED DATASET:
Shape: (10907, 6)
Monthly rows: 10192
Annual rows: 715

   Year Date  Period        Category                   Commodity        Price
0  1960  NaT  Annual          Energy     Coal, Australian ($/mt)    66.234035
1  1960  NaT  Annual          Energy  Crude oil, average ($/bbl)     8.514978
2  1960  NaT  Annual          Energy   Natural gas, US ($/mmbtu)     0.731348
3  1960  NaT  Annual            Food                Maize ($/mt)   232.464110
4  1960  NaT  Annual            Food             Palm oil ($/mt)  1172.333051
5  1960  NaT  Annual            Food         Sugar, world ($/kg)     0.345867
6  1960  NaT  Annual            Food        Wheat, US HRW ($/mt)   302.952104
7  1960  NaT  Annual        Industry             Aluminum ($/mt)  2671.884145
8  1960  NaT  Annual        Industry               Copper ($/mt)  3545.761145
9  1960  NaT  Annual  Precious Metal            Gold ($/troy oz)   184.247397

In [98]:
csv_path = os.path.join(PROJECT_ROOT, 'data', 'final_bd_commodities.csv')
final_bd_commodities.to_csv(csv_path, index=False)

In [99]:
print("CSV SAVED TO:/data/final_bd_commodities.csv")

CSV SAVED TO:/data/final_bd_commodities.csv

In [100]:
!{sys.executable} -m pip install --upgrade pandas sqlalchemy

Requirement already satisfied: pandas in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (2.3.3)
Requirement already satisfied: sqlalchemy in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (2.0.44)
Requirement already satisfied: numpy>=1.23.2 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\salma\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: greenlet>=1 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.14.1)
Requirement already satisfied: six>=1.5 in c:\users\salma\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\salma\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

In [101]:
import psycopg2

In [102]:
final_bd_commodities.to_sql(
    'final_bd_commodities',
    'postgresql://postgres:107789Sa%40@localhost:5432/commodity_db',
    if_exists='replace',
    index=False,
    method='multi',
    chunksize=500
)

print("UPLOADED ROWS TO POSTGRESQL!")

UPLOADED ROWS TO POSTGRESQL!

In [103]:
gitignore_path = os.path.join(PROJECT_ROOT, '.gitignore')


if os.path.exists(gitignore_path):
    try:
        os.remove(gitignore_path)
        print("DELETED old .gitignore")
    except:
        print("CLOSE .gitignore IN ALL PROGRAMS, THEN RERUN")


gitignore_content = """
# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
# Python
__pycache__/
*.pyc
.env
venv/
# Data

# IDE
.vscode/
.idea/
"""

with open(gitignore_path, 'w') as f:
    f.write(gitignore_content.strip())

print(f".gitignore CREATED: {gitignore_path}")

DELETED old .gitignore
.gitignore CREATED: C:\Users\salma\OneDrive\Desktop\Commodity-Price-Analytics\.gitignore

In [104]:
import subprocess

files = {
    '.gitignore': """
# Jupyter
.ipynb_checkpoints/
# Python
__pycache__/
# Data

# IDE
.vscode/
.idea/
""",
    'README.md': """
# Bangladesh Commodity Price Intelligence System
Real-time monitoring of 14 critical commodities.
## Features
- PostgreSQL: `final_bd_commodities`
- Prophet + Metabase ready
## Setup
```bash
pip install -r requirements.txt
Salman | 2025
""",
'requirements.txt': subprocess.run(['pip', 'freeze'], capture_output=True, text=True).stdout
}
for filename, content in files.items():
    path = os.path.join(PROJECT_ROOT, filename)
    if os.path.exists(path):
        print(f"SKIPPED: {filename} exists")
    else:
        with open(path, 'w') as f:
            f.write(content.strip() if filename != 'requirements.txt' else content)
print(f"CREATED: {filename}")

SKIPPED: .gitignore exists
SKIPPED: README.md exists
SKIPPED: requirements.txt exists
CREATED: requirements.txt

In [105]:
project_root = r"C:\Users\salma\OneDrive\Desktop\Commodity-Price-Analytics"
for file in ['.gitignore', 'README.md', 'requirements.txt']:
    src = file
    dst = os.path.join(project_root, file)
    if os.path.exists(dst):
        print(f"SKIPPED: {file} already exists in project root")
    else:
        shutil.move(src, dst)
print(f"Moved {file} → project root")
print("\nALL DONE!")

SKIPPED: .gitignore already exists in project root
SKIPPED: README.md already exists in project root
SKIPPED: requirements.txt already exists in project root
Moved requirements.txt → project root

ALL DONE!

In [106]:
!{sys.executable} -m pip install prophet statsmodels seaborn

Requirement already satisfied: prophet in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (1.1.6)
Requirement already satisfied: statsmodels in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (0.14.5)
Requirement already satisfied: seaborn in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (0.13.2)
Requirement already satisfied: cmdstanpy>=1.0.4 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from prophet) (1.2.5)
Requirement already satisfied: numpy>=1.15.4 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from prophet) (1.26.4)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from prophet) (3.8.4)
Requirement already satisfied: pandas>=1.0.4 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from prophet) (2.3.3)
Requirement already satisfied: holidays<1,>=0.25 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from prophet) (0.72)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from prophet) (4.66.2)
Requirement already satisfied: importlib-resources in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from prophet) (6.5.2)
Requirement already satisfied: python-dateutil in c:\users\salma\appdata\roaming\python\python311\site-packages (from holidays<1,>=0.25->prophet) (2.8.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.13.0)
Requirement already satisfied: patsy>=0.5.6 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.0.2)
Requirement already satisfied: packaging>=21.3 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (25.0)
Requirement already satisfied: stanio<2.0.0,>=0.4.0 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from cmdstanpy>=1.0.4->prophet) (0.5.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=2.0.0->prophet) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=2.0.0->prophet) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.4.5)
Requirement already satisfied: pillow>=8 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=2.0.0->prophet) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=2.0.0->prophet) (3.1.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.0.4->prophet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\salma\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.0.4->prophet) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\salma\appdata\roaming\python\python311\site-packages (from python-dateutil->holidays<1,>=0.25->prophet) (1.16.0)
Requirement already satisfied: colorama in c:\users\salma\appdata\roaming\python\python311\site-packages (from tqdm>=4.36.1->prophet) (0.4.6)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\salma\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

In [107]:
plt.style.use('seaborn-v0_8-whitegrid')
plt.rcParams['figure.figsize'] = (12, 6)

print("Libraries imported successfully!")

Libraries imported successfully!

In [108]:
with engine.connect() as conn:
    conn.execute(text("""
        CREATE SCHEMA IF NOT EXISTS forecasts;
        
        DROP TABLE IF EXISTS forecasts.commodity_forecasts;
        CREATE TABLE forecasts.commodity_forecasts (
            commodity TEXT,
            forecast_date DATE,
            yhat NUMERIC,
            yhat_lower NUMERIC,
            yhat_upper NUMERIC,
            model_version TEXT DEFAULT 'prophet_v1_stable',
            run_timestamp TIMESTAMP DEFAULT NOW(),
            PRIMARY KEY (commodity, forecast_date)
        );

        DROP TABLE IF EXISTS forecasts.model_performance;
        CREATE TABLE forecasts.model_performance (
            commodity TEXT PRIMARY KEY,
            mae NUMERIC,
            mape_pct NUMERIC,
            rmse NUMERIC,
            coverage NUMERIC,
            last_updated TIMESTAMP DEFAULT NOW()
        );

        DROP TABLE IF EXISTS forecasts.advanced_insights;
        CREATE TABLE forecasts.advanced_insights (
            commodity TEXT PRIMARY KEY,
            avg_price_2025 NUMERIC,
            avg_price_2026 NUMERIC,
            volatility_24m NUMERIC,
            max_price_jump_pct NUMERIC,
            trend_slope NUMERIC,
            uncertainty_width NUMERIC,
            stability_rank INT
        );
    """))
    conn.commit()
print("Forecast schema & tables created.\n")

Forecast schema & tables created.

In [109]:
commodities = [
    'Crude oil, average ($/bbl)',
    'Coal, Australian ($/mt)',
    'Natural gas, US ($/mmbtu)',
    'Palm oil ($/mt)',
    'Urea ($/mt)'
]

In [110]:
forecasts = {}      
performance = {}    
advanced = {}

In [111]:
os.chdir(PROJECT_ROOT)

In [112]:
os.makedirs('data/forecasts', exist_ok=True)
os.makedirs('data/plots', exist_ok=True)

In [113]:
for comm in commodities:
    print(f"{'='*70}")
    print(f"PROCESSING: {comm}")
    print(f"{'='*70}")
    
    query = f"""
        SELECT "Date" as ds, "Price" as y
        FROM final_bd_commodities
        WHERE "Commodity" = '{comm}' 
        AND "Period" = 'Monthly'
          
        ORDER BY "Date"
    """
    df = pd.read_sql(query, engine)
    
    if len(df) < 36:
        print(f"SKIP: {comm} has only {len(df)} rows (<12 required)")
        continue
    
    print(f"Data loaded: {len(df)} months | {df['ds'].min().date()} to {df['ds'].max().date()}")
    m = Prophet(
        yearly_seasonality=True,
        weekly_seasonality=False,
        daily_seasonality=False,
        seasonality_mode='multiplicative',
        changepoint_prior_scale=0.05,
        seasonality_prior_scale=10.0
    )
    m.fit(df)
    print("Prophet model trained.")
    print("Running 10-year train / 1-year test cross-validation...")
    df_cv = cross_validation(
    m, 
    initial='3650 days',   
    period='365 days',     
    horizon='365 days',    
    parallel="threads"
    )
    df_p = performance_metrics(df_cv)

    perf = {
    'MAE': round(df_p['mae'].mean(), 2),
    'MAPE (%)': round(df_p['mape'].mean() * 100, 2),
    'RMSE': round(df_p['rmse'].mean(), 2),
    'Coverage': round(df_p['coverage'].mean(), 2)
    }
    performance[comm] = perf
    print(f"Performance: MAPE={perf['MAPE (%)']}% | MAE={perf['MAE']} | Coverage={perf['Coverage']}")
    
    # --- Generate 24-Month Forecast ---
    future = m.make_future_dataframe(periods=24, freq='MS')
    forecast = m.predict(future)
    fc_24 = forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail(24).copy()
    fc_24['commodity'] = comm
    forecasts[comm] = fc_24
    # 24-Month Price Prediction ---
    print(f"24-month forecast generated.")
    # Volatility (Std Dev of Forecasted Prices) ---
    volatility = fc_24['yhat'].std()
    # Max Price Jump % (Biggest Month-to-Month Shock) ---
    pct_changes = fc_24['yhat'].pct_change().abs() * 100
    max_jump = pct_changes.max()
    # Advanced Insights ---
    avg_2025 = fc_24[fc_24['ds'].dt.year == 2025]['yhat'].mean()
    avg_2026 = fc_24[fc_24['ds'].dt.year == 2026]['yhat'].mean()
    trend_slope = (fc_24['yhat'].iloc[-1] - fc_24['yhat'].iloc[0]) / 23  # per month
    uncertainty = (fc_24['yhat_upper'] - fc_24['yhat_lower']).mean()

    advanced[comm] = {
            'avg_price_2025': round(avg_2025, 2),
            'avg_price_2026': round(avg_2026, 2),
            'volatility_24m': round(volatility, 2),
            'max_price_jump_pct': round(max_jump, 2),
            'trend_slope': round(trend_slope, 2),
            'uncertainty_width': round(uncertainty, 2)
        }
    fc_db = fc_24[['commodity', 'ds', 'yhat', 'yhat_lower', 'yhat_upper']].copy()
    fc_db.columns = ['commodity', 'forecast_date', 'yhat', 'yhat_lower', 'yhat_upper']
    fc_db.to_sql('commodity_forecasts', con=engine, schema='forecasts', if_exists='append', index=False)
    safe_comm = re.sub(r'[<>:"/\\|?*]', '', comm)
    fc_24[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].to_csv(
    f'data/forecasts/{safe_comm}_forecast.csv', index=False)
    
    fig = m.plot(forecast)
    plt.axvline(x=pd.to_datetime('2024-12-01'), color='red', linestyle='--', label='Today')
    plt.title(f"{comm} — 24-Month Forecast")
    plt.legend()
    plt.savefig(f'data/plots/{safe_comm}_forecast.png', dpi=150, bbox_inches='tight')
    plt.close()
    print(f"SAVED: DB, CSV, Plot → {safe_comm}_forecast.csv\n")

======================================================================
PROCESSING: Crude oil, average ($/bbl)
======================================================================
Data loaded: 784 months | 1960-01-01 to 2025-04-01

17:13:27 - cmdstanpy - INFO - Chain [1] start processing
17:13:27 - cmdstanpy - INFO - Chain [1] done processing

Prophet model trained.
Running 10-year train / 1-year test cross-validation...

17:13:27 - cmdstanpy - INFO - Chain [1] start processing
17:13:28 - cmdstanpy - INFO - Chain [1] done processing
17:13:28 - cmdstanpy - INFO - Chain [1] start processing
17:13:28 - cmdstanpy - INFO - Chain [1] start processing
17:13:28 - cmdstanpy - INFO - Chain [1] start processing
17:13:28 - cmdstanpy - INFO - Chain [1] start processing
17:13:28 - cmdstanpy - INFO - Chain [1] start processing
17:13:28 - cmdstanpy - INFO - Chain [1] start processing
17:13:28 - cmdstanpy - INFO - Chain [1] done processing
17:13:28 - cmdstanpy - INFO - Chain [1] start processing
17:13:28 - cmdstanpy - INFO - Chain [1] start processing
17:13:28 - cmdstanpy - INFO - Chain [1] start processing
17:13:28 - cmdstanpy - INFO - Chain [1] start processing
17:13:28 - cmdstanpy - INFO - Chain [1] start processing
17:13:28 - cmdstanpy - INFO - Chain [1] done processing
17:13:28 - cmdstanpy - INFO - Chain [1] done processing
17:13:28 - cmdstanpy - INFO - Chain [1] done processing
17:13:28 - cmdstanpy - INFO - Chain [1] done processing
17:13:28 - cmdstanpy - INFO - Chain [1] done processing
17:13:28 - cmdstanpy - INFO - Chain [1] done processing
17:13:28 - cmdstanpy - INFO - Chain [1] done processing
17:13:28 - cmdstanpy - INFO - Chain [1] done processing
17:13:28 - cmdstanpy - INFO - Chain [1] done processing
17:13:28 - cmdstanpy - INFO - Chain [1] done processing
17:13:29 - cmdstanpy - INFO - Chain [1] start processing
17:13:29 - cmdstanpy - INFO - Chain [1] done processing
17:13:29 - cmdstanpy - INFO - Chain [1] start processing
17:13:29 - cmdstanpy - INFO - Chain [1] start processing
17:13:29 - cmdstanpy - INFO - Chain [1] start processing
17:13:30 - cmdstanpy - INFO - Chain [1] done processing
17:13:30 - cmdstanpy - INFO - Chain [1] start processing
17:13:30 - cmdstanpy - INFO - Chain [1] done processing
17:13:30 - cmdstanpy - INFO - Chain [1] start processing
17:13:30 - cmdstanpy - INFO - Chain [1] start processing
17:13:30 - cmdstanpy - INFO - Chain [1] done processing
17:13:30 - cmdstanpy - INFO - Chain [1] start processing
17:13:30 - cmdstanpy - INFO - Chain [1] start processing
17:13:30 - cmdstanpy - INFO - Chain [1] start processing
17:13:30 - cmdstanpy - INFO - Chain [1] start processing
17:13:30 - cmdstanpy - INFO - Chain [1] start processing
17:13:30 - cmdstanpy - INFO - Chain [1] done processing
17:13:30 - cmdstanpy - INFO - Chain [1] done processing
17:13:30 - cmdstanpy - INFO - Chain [1] done processing
17:13:30 - cmdstanpy - INFO - Chain [1] done processing
17:13:30 - cmdstanpy - INFO - Chain [1] done processing
17:13:30 - cmdstanpy - INFO - Chain [1] done processing
17:13:30 - cmdstanpy - INFO - Chain [1] done processing
17:13:30 - cmdstanpy - INFO - Chain [1] done processing
17:13:30 - cmdstanpy - INFO - Chain [1] start processing
17:13:31 - cmdstanpy - INFO - Chain [1] done processing
17:13:31 - cmdstanpy - INFO - Chain [1] start processing
17:13:31 - cmdstanpy - INFO - Chain [1] start processing
17:13:31 - cmdstanpy - INFO - Chain [1] start processing
17:13:31 - cmdstanpy - INFO - Chain [1] start processing
17:13:31 - cmdstanpy - INFO - Chain [1] done processing
17:13:31 - cmdstanpy - INFO - Chain [1] done processing
17:13:31 - cmdstanpy - INFO - Chain [1] start processing
17:13:31 - cmdstanpy - INFO - Chain [1] start processing
17:13:31 - cmdstanpy - INFO - Chain [1] start processing
17:13:31 - cmdstanpy - INFO - Chain [1] done processing
17:13:31 - cmdstanpy - INFO - Chain [1] done processing
17:13:31 - cmdstanpy - INFO - Chain [1] done processing
17:13:31 - cmdstanpy - INFO - Chain [1] done processing
17:13:31 - cmdstanpy - INFO - Chain [1] done processing
17:13:31 - cmdstanpy - INFO - Chain [1] start processing
17:13:31 - cmdstanpy - INFO - Chain [1] start processing
17:13:32 - cmdstanpy - INFO - Chain [1] start processing
17:13:32 - cmdstanpy - INFO - Chain [1] start processing
17:13:32 - cmdstanpy - INFO - Chain [1] done processing
17:13:32 - cmdstanpy - INFO - Chain [1] done processing
17:13:32 - cmdstanpy - INFO - Chain [1] done processing
17:13:32 - cmdstanpy - INFO - Chain [1] done processing
17:13:32 - cmdstanpy - INFO - Chain [1] start processing
17:13:32 - cmdstanpy - INFO - Chain [1] done processing
17:13:32 - cmdstanpy - INFO - Chain [1] start processing
17:13:33 - cmdstanpy - INFO - Chain [1] start processing
17:13:33 - cmdstanpy - INFO - Chain [1] start processing
17:13:33 - cmdstanpy - INFO - Chain [1] start processing
17:13:33 - cmdstanpy - INFO - Chain [1] done processing
17:13:33 - cmdstanpy - INFO - Chain [1] done processing
17:13:33 - cmdstanpy - INFO - Chain [1] done processing
17:13:33 - cmdstanpy - INFO - Chain [1] done processing
17:13:33 - cmdstanpy - INFO - Chain [1] start processing
17:13:33 - cmdstanpy - INFO - Chain [1] start processing
17:13:33 - cmdstanpy - INFO - Chain [1] start processing
17:13:33 - cmdstanpy - INFO - Chain [1] start processing
17:13:33 - cmdstanpy - INFO - Chain [1] start processing
17:13:33 - cmdstanpy - INFO - Chain [1] start processing
17:13:33 - cmdstanpy - INFO - Chain [1] start processing
17:13:33 - cmdstanpy - INFO - Chain [1] done processing
17:13:33 - cmdstanpy - INFO - Chain [1] done processing
17:13:33 - cmdstanpy - INFO - Chain [1] done processing
17:13:34 - cmdstanpy - INFO - Chain [1] done processing
17:13:34 - cmdstanpy - INFO - Chain [1] done processing
17:13:34 - cmdstanpy - INFO - Chain [1] done processing
17:13:34 - cmdstanpy - INFO - Chain [1] done processing
17:13:34 - cmdstanpy - INFO - Chain [1] start processing
17:13:34 - cmdstanpy - INFO - Chain [1] start processing
17:13:34 - cmdstanpy - INFO - Chain [1] start processing
17:13:34 - cmdstanpy - INFO - Chain [1] start processing
17:13:34 - cmdstanpy - INFO - Chain [1] start processing
17:13:35 - cmdstanpy - INFO - Chain [1] done processing
17:13:35 - cmdstanpy - INFO - Chain [1] done processing
17:13:35 - cmdstanpy - INFO - Chain [1] done processing
17:13:35 - cmdstanpy - INFO - Chain [1] done processing
17:13:35 - cmdstanpy - INFO - Chain [1] done processing
17:13:35 - cmdstanpy - INFO - Chain [1] start processing
17:13:35 - cmdstanpy - INFO - Chain [1] start processing
17:13:35 - cmdstanpy - INFO - Chain [1] done processing
17:13:35 - cmdstanpy - INFO - Chain [1] done processing

Performance: MAPE=33.16% | MAE=12.91 | Coverage=0.38
24-month forecast generated.
SAVED: DB, CSV, Plot → Crude oil, average ($bbl)_forecast.csv

======================================================================
PROCESSING: Coal, Australian ($/mt)
======================================================================
Data loaded: 784 months | 1960-01-01 to 2025-04-01

17:13:37 - cmdstanpy - INFO - Chain [1] start processing
17:13:37 - cmdstanpy - INFO - Chain [1] done processing

Prophet model trained.
Running 10-year train / 1-year test cross-validation...

17:13:37 - cmdstanpy - INFO - Chain [1] start processing
17:13:38 - cmdstanpy - INFO - Chain [1] start processing
17:13:38 - cmdstanpy - INFO - Chain [1] start processing
17:13:38 - cmdstanpy - INFO - Chain [1] done processing
17:13:38 - cmdstanpy - INFO - Chain [1] start processing
17:13:38 - cmdstanpy - INFO - Chain [1] start processing
17:13:38 - cmdstanpy - INFO - Chain [1] start processing
17:13:38 - cmdstanpy - INFO - Chain [1] start processing
17:13:38 - cmdstanpy - INFO - Chain [1] start processing
17:13:38 - cmdstanpy - INFO - Chain [1] start processing
17:13:38 - cmdstanpy - INFO - Chain [1] start processing
17:13:38 - cmdstanpy - INFO - Chain [1] start processing
17:13:38 - cmdstanpy - INFO - Chain [1] done processing
17:13:38 - cmdstanpy - INFO - Chain [1] start processing
17:13:38 - cmdstanpy - INFO - Chain [1] done processing
17:13:38 - cmdstanpy - INFO - Chain [1] done processing
17:13:38 - cmdstanpy - INFO - Chain [1] done processing
17:13:38 - cmdstanpy - INFO - Chain [1] done processing
17:13:38 - cmdstanpy - INFO - Chain [1] done processing
17:13:38 - cmdstanpy - INFO - Chain [1] done processing
17:13:38 - cmdstanpy - INFO - Chain [1] done processing
17:13:38 - cmdstanpy - INFO - Chain [1] done processing
17:13:38 - cmdstanpy - INFO - Chain [1] done processing
17:13:38 - cmdstanpy - INFO - Chain [1] done processing
17:13:39 - cmdstanpy - INFO - Chain [1] start processing
17:13:39 - cmdstanpy - INFO - Chain [1] start processing
17:13:39 - cmdstanpy - INFO - Chain [1] start processing
17:13:39 - cmdstanpy - INFO - Chain [1] start processing
17:13:39 - cmdstanpy - INFO - Chain [1] start processing
17:13:39 - cmdstanpy - INFO - Chain [1] done processing
17:13:39 - cmdstanpy - INFO - Chain [1] done processing
17:13:39 - cmdstanpy - INFO - Chain [1] done processing
17:13:40 - cmdstanpy - INFO - Chain [1] done processing
17:13:40 - cmdstanpy - INFO - Chain [1] start processing
17:13:40 - cmdstanpy - INFO - Chain [1] done processing
17:13:40 - cmdstanpy - INFO - Chain [1] start processing
17:13:40 - cmdstanpy - INFO - Chain [1] start processing
17:13:40 - cmdstanpy - INFO - Chain [1] start processing
17:13:40 - cmdstanpy - INFO - Chain [1] start processing
17:13:40 - cmdstanpy - INFO - Chain [1] start processing
17:13:40 - cmdstanpy - INFO - Chain [1] start processing
17:13:40 - cmdstanpy - INFO - Chain [1] done processing
17:13:40 - cmdstanpy - INFO - Chain [1] done processing
17:13:40 - cmdstanpy - INFO - Chain [1] done processing
17:13:40 - cmdstanpy - INFO - Chain [1] done processing
17:13:40 - cmdstanpy - INFO - Chain [1] done processing
17:13:40 - cmdstanpy - INFO - Chain [1] done processing
17:13:40 - cmdstanpy - INFO - Chain [1] done processing
17:13:41 - cmdstanpy - INFO - Chain [1] start processing
17:13:41 - cmdstanpy - INFO - Chain [1] start processing
17:13:41 - cmdstanpy - INFO - Chain [1] done processing
17:13:41 - cmdstanpy - INFO - Chain [1] start processing
17:13:41 - cmdstanpy - INFO - Chain [1] start processing
17:13:41 - cmdstanpy - INFO - Chain [1] start processing
17:13:41 - cmdstanpy - INFO - Chain [1] start processing
17:13:41 - cmdstanpy - INFO - Chain [1] start processing
17:13:41 - cmdstanpy - INFO - Chain [1] start processing
17:13:41 - cmdstanpy - INFO - Chain [1] done processing
17:13:41 - cmdstanpy - INFO - Chain [1] done processing
17:13:41 - cmdstanpy - INFO - Chain [1] done processing
17:13:42 - cmdstanpy - INFO - Chain [1] done processing
17:13:42 - cmdstanpy - INFO - Chain [1] start processing
17:13:42 - cmdstanpy - INFO - Chain [1] start processing
17:13:42 - cmdstanpy - INFO - Chain [1] start processing
17:13:42 - cmdstanpy - INFO - Chain [1] start processing
17:13:42 - cmdstanpy - INFO - Chain [1] done processing
17:13:42 - cmdstanpy - INFO - Chain [1] done processing
17:13:42 - cmdstanpy - INFO - Chain [1] done processing
17:13:42 - cmdstanpy - INFO - Chain [1] done processing
17:13:42 - cmdstanpy - INFO - Chain [1] done processing
17:13:42 - cmdstanpy - INFO - Chain [1] done processing
17:13:42 - cmdstanpy - INFO - Chain [1] done processing
17:13:43 - cmdstanpy - INFO - Chain [1] start processing
17:13:43 - cmdstanpy - INFO - Chain [1] start processing
17:13:43 - cmdstanpy - INFO - Chain [1] done processing
17:13:43 - cmdstanpy - INFO - Chain [1] done processing
17:13:43 - cmdstanpy - INFO - Chain [1] start processing
17:13:43 - cmdstanpy - INFO - Chain [1] start processing
17:13:43 - cmdstanpy - INFO - Chain [1] start processing
17:13:43 - cmdstanpy - INFO - Chain [1] start processing
17:13:44 - cmdstanpy - INFO - Chain [1] start processing
17:13:44 - cmdstanpy - INFO - Chain [1] start processing
17:13:44 - cmdstanpy - INFO - Chain [1] done processing
17:13:44 - cmdstanpy - INFO - Chain [1] start processing
17:13:44 - cmdstanpy - INFO - Chain [1] start processing
17:13:44 - cmdstanpy - INFO - Chain [1] start processing
17:13:44 - cmdstanpy - INFO - Chain [1] start processing
17:13:44 - cmdstanpy - INFO - Chain [1] done processing
17:13:44 - cmdstanpy - INFO - Chain [1] done processing
17:13:44 - cmdstanpy - INFO - Chain [1] done processing
17:13:44 - cmdstanpy - INFO - Chain [1] done processing
17:13:44 - cmdstanpy - INFO - Chain [1] done processing
17:13:44 - cmdstanpy - INFO - Chain [1] done processing
17:13:44 - cmdstanpy - INFO - Chain [1] done processing
17:13:44 - cmdstanpy - INFO - Chain [1] done processing
17:13:44 - cmdstanpy - INFO - Chain [1] done processing
17:13:45 - cmdstanpy - INFO - Chain [1] start processing
17:13:45 - cmdstanpy - INFO - Chain [1] start processing
17:13:45 - cmdstanpy - INFO - Chain [1] start processing
17:13:45 - cmdstanpy - INFO - Chain [1] start processing
17:13:45 - cmdstanpy - INFO - Chain [1] done processing
17:13:45 - cmdstanpy - INFO - Chain [1] done processing
17:13:45 - cmdstanpy - INFO - Chain [1] done processing
17:13:45 - cmdstanpy - INFO - Chain [1] done processing
17:13:46 - cmdstanpy - INFO - Chain [1] start processing
17:13:46 - cmdstanpy - INFO - Chain [1] start processing
17:13:46 - cmdstanpy - INFO - Chain [1] start processing
17:13:46 - cmdstanpy - INFO - Chain [1] done processing
17:13:46 - cmdstanpy - INFO - Chain [1] done processing
17:13:46 - cmdstanpy - INFO - Chain [1] done processing

Performance: MAPE=48.68% | MAE=22.75 | Coverage=0.58
24-month forecast generated.
SAVED: DB, CSV, Plot → Coal, Australian ($mt)_forecast.csv

======================================================================
PROCESSING: Natural gas, US ($/mmbtu)
======================================================================
Data loaded: 784 months | 1960-01-01 to 2025-04-01

17:13:47 - cmdstanpy - INFO - Chain [1] start processing
17:13:47 - cmdstanpy - INFO - Chain [1] done processing

Prophet model trained.
Running 10-year train / 1-year test cross-validation...

17:13:48 - cmdstanpy - INFO - Chain [1] start processing
17:13:48 - cmdstanpy - INFO - Chain [1] start processing
17:13:48 - cmdstanpy - INFO - Chain [1] done processing
17:13:48 - cmdstanpy - INFO - Chain [1] start processing
17:13:48 - cmdstanpy - INFO - Chain [1] start processing
17:13:48 - cmdstanpy - INFO - Chain [1] start processing
17:13:48 - cmdstanpy - INFO - Chain [1] start processing
17:13:48 - cmdstanpy - INFO - Chain [1] done processing
17:13:48 - cmdstanpy - INFO - Chain [1] start processing
17:13:48 - cmdstanpy - INFO - Chain [1] start processing
17:13:48 - cmdstanpy - INFO - Chain [1] start processing
17:13:48 - cmdstanpy - INFO - Chain [1] start processing
17:13:48 - cmdstanpy - INFO - Chain [1] start processing
17:13:48 - cmdstanpy - INFO - Chain [1] start processing
17:13:48 - cmdstanpy - INFO - Chain [1] done processing
17:13:48 - cmdstanpy - INFO - Chain [1] done processing
17:13:48 - cmdstanpy - INFO - Chain [1] done processing
17:13:48 - cmdstanpy - INFO - Chain [1] done processing
17:13:48 - cmdstanpy - INFO - Chain [1] done processing
17:13:48 - cmdstanpy - INFO - Chain [1] done processing
17:13:48 - cmdstanpy - INFO - Chain [1] done processing
17:13:48 - cmdstanpy - INFO - Chain [1] done processing
17:13:48 - cmdstanpy - INFO - Chain [1] done processing
17:13:48 - cmdstanpy - INFO - Chain [1] done processing
17:13:49 - cmdstanpy - INFO - Chain [1] start processing
17:13:49 - cmdstanpy - INFO - Chain [1] start processing
17:13:49 - cmdstanpy - INFO - Chain [1] done processing
17:13:49 - cmdstanpy - INFO - Chain [1] start processing
17:13:49 - cmdstanpy - INFO - Chain [1] done processing
17:13:49 - cmdstanpy - INFO - Chain [1] start processing
17:13:50 - cmdstanpy - INFO - Chain [1] start processing
17:13:50 - cmdstanpy - INFO - Chain [1] start processing
17:13:50 - cmdstanpy - INFO - Chain [1] done processing
17:13:50 - cmdstanpy - INFO - Chain [1] start processing
17:13:50 - cmdstanpy - INFO - Chain [1] start processing
17:13:50 - cmdstanpy - INFO - Chain [1] start processing
17:13:50 - cmdstanpy - INFO - Chain [1] done processing
17:13:50 - cmdstanpy - INFO - Chain [1] start processing
17:13:50 - cmdstanpy - INFO - Chain [1] start processing
17:13:50 - cmdstanpy - INFO - Chain [1] start processing
17:13:50 - cmdstanpy - INFO - Chain [1] done processing
17:13:50 - cmdstanpy - INFO - Chain [1] done processing
17:13:50 - cmdstanpy - INFO - Chain [1] done processing
17:13:50 - cmdstanpy - INFO - Chain [1] done processing
17:13:50 - cmdstanpy - INFO - Chain [1] done processing
17:13:50 - cmdstanpy - INFO - Chain [1] done processing
17:13:50 - cmdstanpy - INFO - Chain [1] done processing
17:13:50 - cmdstanpy - INFO - Chain [1] done processing
17:13:50 - cmdstanpy - INFO - Chain [1] start processing
17:13:50 - cmdstanpy - INFO - Chain [1] start processing
17:13:50 - cmdstanpy - INFO - Chain [1] done processing
17:13:50 - cmdstanpy - INFO - Chain [1] done processing
17:13:51 - cmdstanpy - INFO - Chain [1] start processing
17:13:51 - cmdstanpy - INFO - Chain [1] start processing
17:13:51 - cmdstanpy - INFO - Chain [1] start processing
17:13:51 - cmdstanpy - INFO - Chain [1] start processing
17:13:51 - cmdstanpy - INFO - Chain [1] start processing
17:13:51 - cmdstanpy - INFO - Chain [1] start processing
17:13:51 - cmdstanpy - INFO - Chain [1] done processing
17:13:51 - cmdstanpy - INFO - Chain [1] done processing
17:13:51 - cmdstanpy - INFO - Chain [1] done processing
17:13:51 - cmdstanpy - INFO - Chain [1] done processing
17:13:51 - cmdstanpy - INFO - Chain [1] done processing
17:13:51 - cmdstanpy - INFO - Chain [1] done processing
17:13:51 - cmdstanpy - INFO - Chain [1] start processing
17:13:51 - cmdstanpy - INFO - Chain [1] start processing
17:13:51 - cmdstanpy - INFO - Chain [1] start processing
17:13:51 - cmdstanpy - INFO - Chain [1] start processing
17:13:52 - cmdstanpy - INFO - Chain [1] done processing
17:13:52 - cmdstanpy - INFO - Chain [1] done processing
17:13:52 - cmdstanpy - INFO - Chain [1] done processing
17:13:52 - cmdstanpy - INFO - Chain [1] done processing
17:13:52 - cmdstanpy - INFO - Chain [1] start processing
17:13:52 - cmdstanpy - INFO - Chain [1] start processing
17:13:52 - cmdstanpy - INFO - Chain [1] start processing
17:13:52 - cmdstanpy - INFO - Chain [1] done processing
17:13:52 - cmdstanpy - INFO - Chain [1] done processing
17:13:53 - cmdstanpy - INFO - Chain [1] start processing
17:13:53 - cmdstanpy - INFO - Chain [1] start processing
17:13:53 - cmdstanpy - INFO - Chain [1] done processing
17:13:53 - cmdstanpy - INFO - Chain [1] done processing
17:13:53 - cmdstanpy - INFO - Chain [1] start processing
17:13:53 - cmdstanpy - INFO - Chain [1] start processing
17:13:53 - cmdstanpy - INFO - Chain [1] start processing
17:13:53 - cmdstanpy - INFO - Chain [1] start processing
17:13:53 - cmdstanpy - INFO - Chain [1] start processing
17:13:53 - cmdstanpy - INFO - Chain [1] start processing
17:13:53 - cmdstanpy - INFO - Chain [1] start processing
17:13:53 - cmdstanpy - INFO - Chain [1] done processing
17:13:53 - cmdstanpy - INFO - Chain [1] done processing
17:13:53 - cmdstanpy - INFO - Chain [1] done processing
17:13:53 - cmdstanpy - INFO - Chain [1] done processing
17:13:53 - cmdstanpy - INFO - Chain [1] done processing
17:13:53 - cmdstanpy - INFO - Chain [1] done processing
17:13:53 - cmdstanpy - INFO - Chain [1] done processing
17:13:53 - cmdstanpy - INFO - Chain [1] done processing
17:13:54 - cmdstanpy - INFO - Chain [1] start processing
17:13:54 - cmdstanpy - INFO - Chain [1] start processing
17:13:54 - cmdstanpy - INFO - Chain [1] done processing
17:13:54 - cmdstanpy - INFO - Chain [1] start processing
17:13:54 - cmdstanpy - INFO - Chain [1] start processing
17:13:54 - cmdstanpy - INFO - Chain [1] start processing
17:13:55 - cmdstanpy - INFO - Chain [1] start processing
17:13:55 - cmdstanpy - INFO - Chain [1] start processing
17:13:55 - cmdstanpy - INFO - Chain [1] done processing
17:13:55 - cmdstanpy - INFO - Chain [1] done processing
17:13:55 - cmdstanpy - INFO - Chain [1] done processing
17:13:55 - cmdstanpy - INFO - Chain [1] done processing
17:13:55 - cmdstanpy - INFO - Chain [1] done processing
17:13:55 - cmdstanpy - INFO - Chain [1] done processing

Performance: MAPE=31.33% | MAE=1.05 | Coverage=0.33
24-month forecast generated.
SAVED: DB, CSV, Plot → Natural gas, US ($mmbtu)_forecast.csv

======================================================================
PROCESSING: Palm oil ($/mt)
======================================================================
Data loaded: 784 months | 1960-01-01 to 2025-04-01

17:13:56 - cmdstanpy - INFO - Chain [1] start processing
17:13:56 - cmdstanpy - INFO - Chain [1] done processing

Prophet model trained.
Running 10-year train / 1-year test cross-validation...

17:13:57 - cmdstanpy - INFO - Chain [1] start processing
17:13:57 - cmdstanpy - INFO - Chain [1] done processing
17:13:57 - cmdstanpy - INFO - Chain [1] start processing
17:13:57 - cmdstanpy - INFO - Chain [1] start processing
17:13:57 - cmdstanpy - INFO - Chain [1] start processing
17:13:57 - cmdstanpy - INFO - Chain [1] done processing
17:13:57 - cmdstanpy - INFO - Chain [1] start processing
17:13:57 - cmdstanpy - INFO - Chain [1] start processing
17:13:57 - cmdstanpy - INFO - Chain [1] start processing
17:13:57 - cmdstanpy - INFO - Chain [1] start processing
17:13:57 - cmdstanpy - INFO - Chain [1] start processing
17:13:57 - cmdstanpy - INFO - Chain [1] done processing
17:13:57 - cmdstanpy - INFO - Chain [1] start processing
17:13:57 - cmdstanpy - INFO - Chain [1] start processing
17:13:57 - cmdstanpy - INFO - Chain [1] done processing
17:13:57 - cmdstanpy - INFO - Chain [1] start processing
17:13:57 - cmdstanpy - INFO - Chain [1] done processing
17:13:57 - cmdstanpy - INFO - Chain [1] done processing
17:13:57 - cmdstanpy - INFO - Chain [1] done processing
17:13:57 - cmdstanpy - INFO - Chain [1] done processing
17:13:57 - cmdstanpy - INFO - Chain [1] done processing
17:13:57 - cmdstanpy - INFO - Chain [1] done processing
17:13:57 - cmdstanpy - INFO - Chain [1] done processing
17:13:57 - cmdstanpy - INFO - Chain [1] done processing
17:13:58 - cmdstanpy - INFO - Chain [1] start processing
17:13:58 - cmdstanpy - INFO - Chain [1] done processing
17:13:58 - cmdstanpy - INFO - Chain [1] start processing
17:13:58 - cmdstanpy - INFO - Chain [1] start processing
17:13:58 - cmdstanpy - INFO - Chain [1] start processing
17:13:58 - cmdstanpy - INFO - Chain [1] done processing
17:13:58 - cmdstanpy - INFO - Chain [1] done processing
17:13:58 - cmdstanpy - INFO - Chain [1] start processing
17:13:59 - cmdstanpy - INFO - Chain [1] done processing
17:13:59 - cmdstanpy - INFO - Chain [1] start processing
17:13:59 - cmdstanpy - INFO - Chain [1] start processing
17:13:59 - cmdstanpy - INFO - Chain [1] start processing
17:13:59 - cmdstanpy - INFO - Chain [1] start processing
17:13:59 - cmdstanpy - INFO - Chain [1] start processing
17:13:59 - cmdstanpy - INFO - Chain [1] start processing
17:13:59 - cmdstanpy - INFO - Chain [1] start processing
17:13:59 - cmdstanpy - INFO - Chain [1] done processing
17:13:59 - cmdstanpy - INFO - Chain [1] done processing
17:13:59 - cmdstanpy - INFO - Chain [1] done processing
17:13:59 - cmdstanpy - INFO - Chain [1] done processing
17:13:59 - cmdstanpy - INFO - Chain [1] done processing
17:13:59 - cmdstanpy - INFO - Chain [1] done processing
17:13:59 - cmdstanpy - INFO - Chain [1] done processing
17:13:59 - cmdstanpy - INFO - Chain [1] done processing
17:13:59 - cmdstanpy - INFO - Chain [1] start processing
17:13:59 - cmdstanpy - INFO - Chain [1] start processing
17:13:59 - cmdstanpy - INFO - Chain [1] done processing
17:13:59 - cmdstanpy - INFO - Chain [1] done processing
17:14:00 - cmdstanpy - INFO - Chain [1] start processing
17:14:00 - cmdstanpy - INFO - Chain [1] start processing
17:14:00 - cmdstanpy - INFO - Chain [1] start processing
17:14:00 - cmdstanpy - INFO - Chain [1] done processing
17:14:00 - cmdstanpy - INFO - Chain [1] start processing
17:14:00 - cmdstanpy - INFO - Chain [1] start processing
17:14:00 - cmdstanpy - INFO - Chain [1] done processing
17:14:00 - cmdstanpy - INFO - Chain [1] start processing
17:14:00 - cmdstanpy - INFO - Chain [1] done processing
17:14:00 - cmdstanpy - INFO - Chain [1] done processing
17:14:00 - cmdstanpy - INFO - Chain [1] done processing
17:14:00 - cmdstanpy - INFO - Chain [1] done processing
17:14:00 - cmdstanpy - INFO - Chain [1] start processing
17:14:01 - cmdstanpy - INFO - Chain [1] start processing
17:14:01 - cmdstanpy - INFO - Chain [1] start processing
17:14:01 - cmdstanpy - INFO - Chain [1] start processing
17:14:01 - cmdstanpy - INFO - Chain [1] done processing
17:14:01 - cmdstanpy - INFO - Chain [1] done processing
17:14:01 - cmdstanpy - INFO - Chain [1] done processing
17:14:01 - cmdstanpy - INFO - Chain [1] done processing
17:14:01 - cmdstanpy - INFO - Chain [1] start processing
17:14:01 - cmdstanpy - INFO - Chain [1] start processing
17:14:02 - cmdstanpy - INFO - Chain [1] done processing
17:14:02 - cmdstanpy - INFO - Chain [1] start processing
17:14:02 - cmdstanpy - INFO - Chain [1] done processing
17:14:02 - cmdstanpy - INFO - Chain [1] start processing
17:14:02 - cmdstanpy - INFO - Chain [1] start processing
17:14:02 - cmdstanpy - INFO - Chain [1] start processing
17:14:02 - cmdstanpy - INFO - Chain [1] done processing
17:14:02 - cmdstanpy - INFO - Chain [1] start processing
17:14:02 - cmdstanpy - INFO - Chain [1] start processing
17:14:02 - cmdstanpy - INFO - Chain [1] done processing
17:14:02 - cmdstanpy - INFO - Chain [1] done processing
17:14:02 - cmdstanpy - INFO - Chain [1] start processing
17:14:02 - cmdstanpy - INFO - Chain [1] start processing
17:14:02 - cmdstanpy - INFO - Chain [1] start processing
17:14:02 - cmdstanpy - INFO - Chain [1] start processing
17:14:02 - cmdstanpy - INFO - Chain [1] done processing
17:14:03 - cmdstanpy - INFO - Chain [1] done processing
17:14:03 - cmdstanpy - INFO - Chain [1] done processing
17:14:03 - cmdstanpy - INFO - Chain [1] done processing
17:14:03 - cmdstanpy - INFO - Chain [1] done processing
17:14:03 - cmdstanpy - INFO - Chain [1] done processing
17:14:03 - cmdstanpy - INFO - Chain [1] done processing
17:14:03 - cmdstanpy - INFO - Chain [1] start processing
17:14:04 - cmdstanpy - INFO - Chain [1] done processing
17:14:04 - cmdstanpy - INFO - Chain [1] start processing
17:14:04 - cmdstanpy - INFO - Chain [1] start processing
17:14:04 - cmdstanpy - INFO - Chain [1] start processing
17:14:04 - cmdstanpy - INFO - Chain [1] start processing
17:14:04 - cmdstanpy - INFO - Chain [1] start processing
17:14:04 - cmdstanpy - INFO - Chain [1] start processing
17:14:04 - cmdstanpy - INFO - Chain [1] done processing
17:14:04 - cmdstanpy - INFO - Chain [1] done processing
17:14:04 - cmdstanpy - INFO - Chain [1] done processing
17:14:04 - cmdstanpy - INFO - Chain [1] done processing
17:14:04 - cmdstanpy - INFO - Chain [1] done processing
17:14:04 - cmdstanpy - INFO - Chain [1] done processing

Performance: MAPE=30.14% | MAE=168.2 | Coverage=0.53
24-month forecast generated.

17:14:05 - cmdstanpy - INFO - Chain [1] start processing

SAVED: DB, CSV, Plot → Palm oil ($mt)_forecast.csv

======================================================================
PROCESSING: Urea ($/mt)
======================================================================
Data loaded: 784 months | 1960-01-01 to 2025-04-01

17:14:05 - cmdstanpy - INFO - Chain [1] done processing

Prophet model trained.
Running 10-year train / 1-year test cross-validation...

17:14:06 - cmdstanpy - INFO - Chain [1] start processing
17:14:06 - cmdstanpy - INFO - Chain [1] start processing
17:14:06 - cmdstanpy - INFO - Chain [1] start processing
17:14:06 - cmdstanpy - INFO - Chain [1] start processing
17:14:06 - cmdstanpy - INFO - Chain [1] done processing
17:14:06 - cmdstanpy - INFO - Chain [1] start processing
17:14:06 - cmdstanpy - INFO - Chain [1] start processing
17:14:06 - cmdstanpy - INFO - Chain [1] done processing
17:14:06 - cmdstanpy - INFO - Chain [1] start processing
17:14:06 - cmdstanpy - INFO - Chain [1] start processing
17:14:06 - cmdstanpy - INFO - Chain [1] done processing
17:14:06 - cmdstanpy - INFO - Chain [1] done processing
17:14:06 - cmdstanpy - INFO - Chain [1] done processing
17:14:06 - cmdstanpy - INFO - Chain [1] done processing
17:14:06 - cmdstanpy - INFO - Chain [1] start processing
17:14:06 - cmdstanpy - INFO - Chain [1] start processing
17:14:06 - cmdstanpy - INFO - Chain [1] done processing
17:14:06 - cmdstanpy - INFO - Chain [1] done processing
17:14:06 - cmdstanpy - INFO - Chain [1] start processing
17:14:06 - cmdstanpy - INFO - Chain [1] start processing
17:14:06 - cmdstanpy - INFO - Chain [1] done processing
17:14:06 - cmdstanpy - INFO - Chain [1] done processing
17:14:07 - cmdstanpy - INFO - Chain [1] done processing
17:14:07 - cmdstanpy - INFO - Chain [1] done processing
17:14:07 - cmdstanpy - INFO - Chain [1] start processing
17:14:07 - cmdstanpy - INFO - Chain [1] done processing
17:14:07 - cmdstanpy - INFO - Chain [1] start processing
17:14:08 - cmdstanpy - INFO - Chain [1] start processing
17:14:08 - cmdstanpy - INFO - Chain [1] start processing
17:14:08 - cmdstanpy - INFO - Chain [1] start processing
17:14:08 - cmdstanpy - INFO - Chain [1] start processing
17:14:08 - cmdstanpy - INFO - Chain [1] done processing
17:14:08 - cmdstanpy - INFO - Chain [1] start processing
17:14:08 - cmdstanpy - INFO - Chain [1] start processing
17:14:08 - cmdstanpy - INFO - Chain [1] done processing
17:14:08 - cmdstanpy - INFO - Chain [1] done processing
17:14:08 - cmdstanpy - INFO - Chain [1] start processing
17:14:08 - cmdstanpy - INFO - Chain [1] start processing
17:14:08 - cmdstanpy - INFO - Chain [1] start processing
17:14:08 - cmdstanpy - INFO - Chain [1] start processing
17:14:08 - cmdstanpy - INFO - Chain [1] done processing
17:14:08 - cmdstanpy - INFO - Chain [1] done processing
17:14:08 - cmdstanpy - INFO - Chain [1] done processing
17:14:08 - cmdstanpy - INFO - Chain [1] done processing
17:14:08 - cmdstanpy - INFO - Chain [1] done processing
17:14:08 - cmdstanpy - INFO - Chain [1] done processing
17:14:08 - cmdstanpy - INFO - Chain [1] done processing
17:14:08 - cmdstanpy - INFO - Chain [1] done processing
17:14:08 - cmdstanpy - INFO - Chain [1] start processing
17:14:08 - cmdstanpy - INFO - Chain [1] done processing
17:14:09 - cmdstanpy - INFO - Chain [1] start processing
17:14:09 - cmdstanpy - INFO - Chain [1] done processing
17:14:09 - cmdstanpy - INFO - Chain [1] start processing
17:14:09 - cmdstanpy - INFO - Chain [1] start processing
17:14:09 - cmdstanpy - INFO - Chain [1] start processing
17:14:09 - cmdstanpy - INFO - Chain [1] start processing
17:14:09 - cmdstanpy - INFO - Chain [1] start processing
17:14:09 - cmdstanpy - INFO - Chain [1] start processing
17:14:09 - cmdstanpy - INFO - Chain [1] done processing
17:14:10 - cmdstanpy - INFO - Chain [1] done processing
17:14:10 - cmdstanpy - INFO - Chain [1] done processing
17:14:10 - cmdstanpy - INFO - Chain [1] done processing
17:14:10 - cmdstanpy - INFO - Chain [1] start processing
17:14:10 - cmdstanpy - INFO - Chain [1] start processing
17:14:10 - cmdstanpy - INFO - Chain [1] done processing
17:14:10 - cmdstanpy - INFO - Chain [1] start processing
17:14:10 - cmdstanpy - INFO - Chain [1] done processing
17:14:10 - cmdstanpy - INFO - Chain [1] start processing
17:14:10 - cmdstanpy - INFO - Chain [1] start processing
17:14:10 - cmdstanpy - INFO - Chain [1] done processing
17:14:10 - cmdstanpy - INFO - Chain [1] done processing
17:14:10 - cmdstanpy - INFO - Chain [1] done processing
17:14:10 - cmdstanpy - INFO - Chain [1] done processing
17:14:10 - cmdstanpy - INFO - Chain [1] done processing
17:14:11 - cmdstanpy - INFO - Chain [1] start processing
17:14:11 - cmdstanpy - INFO - Chain [1] start processing
17:14:11 - cmdstanpy - INFO - Chain [1] done processing
17:14:11 - cmdstanpy - INFO - Chain [1] done processing
17:14:11 - cmdstanpy - INFO - Chain [1] start processing
17:14:11 - cmdstanpy - INFO - Chain [1] start processing
17:14:12 - cmdstanpy - INFO - Chain [1] start processing
17:14:12 - cmdstanpy - INFO - Chain [1] start processing
17:14:12 - cmdstanpy - INFO - Chain [1] start processing
17:14:12 - cmdstanpy - INFO - Chain [1] start processing
17:14:12 - cmdstanpy - INFO - Chain [1] start processing
17:14:12 - cmdstanpy - INFO - Chain [1] start processing
17:14:12 - cmdstanpy - INFO - Chain [1] start processing
17:14:12 - cmdstanpy - INFO - Chain [1] start processing
17:14:12 - cmdstanpy - INFO - Chain [1] done processing
17:14:12 - cmdstanpy - INFO - Chain [1] done processing
17:14:12 - cmdstanpy - INFO - Chain [1] done processing
17:14:12 - cmdstanpy - INFO - Chain [1] done processing
17:14:12 - cmdstanpy - INFO - Chain [1] done processing
17:14:12 - cmdstanpy - INFO - Chain [1] done processing
17:14:12 - cmdstanpy - INFO - Chain [1] done processing
17:14:12 - cmdstanpy - INFO - Chain [1] done processing
17:14:12 - cmdstanpy - INFO - Chain [1] done processing
17:14:12 - cmdstanpy - INFO - Chain [1] done processing
17:14:13 - cmdstanpy - INFO - Chain [1] start processing
17:14:13 - cmdstanpy - INFO - Chain [1] start processing
17:14:13 - cmdstanpy - INFO - Chain [1] done processing
17:14:13 - cmdstanpy - INFO - Chain [1] done processing
17:14:13 - cmdstanpy - INFO - Chain [1] start processing
17:14:13 - cmdstanpy - INFO - Chain [1] start processing
17:14:13 - cmdstanpy - INFO - Chain [1] done processing
17:14:13 - cmdstanpy - INFO - Chain [1] start processing
17:14:13 - cmdstanpy - INFO - Chain [1] start processing
17:14:13 - cmdstanpy - INFO - Chain [1] done processing
17:14:13 - cmdstanpy - INFO - Chain [1] done processing
17:14:13 - cmdstanpy - INFO - Chain [1] done processing

Performance: MAPE=39.48% | MAE=74.21 | Coverage=0.55
24-month forecast generated.
SAVED: DB, CSV, Plot → Urea ($mt)_forecast.csv

In [114]:
perf_df = pd.DataFrame(performance).T.reset_index().rename(columns={'index': 'commodity'})
perf_df.to_sql('model_performance', con=engine, schema='forecasts', if_exists='replace', index=False)
adv_df = pd.DataFrame(advanced).T.reset_index().rename(columns={'index': 'commodity'})
adv_df['stability_rank'] = adv_df['volatility_24m'].rank(ascending=True).astype(int)
adv_df.to_sql('advanced_insights', con=engine, schema='forecasts', if_exists='replace', index=False)

print("Performance & Advanced Insights saved to PostgreSQL.\n")

Performance & Advanced Insights saved to PostgreSQL.

In [115]:
# DISPLAY FINAL ANSWERS
# ======================================================
print("FINAL ADVANCED INSIGHTS (NEXT 24 MONTHS):")
print("="*80)

# --- Q1: 24-Month Forecast (Example: Urea) ---
print("1. 24-MONTH PRICE PREDICTION (EXAMPLE: Urea)")
display(forecasts['Urea ($/mt)'].head())

# --- Q2: Most Volatile ---
vol_df = adv_df[['commodity', 'volatility_24m']].sort_values('volatility_24m', ascending=False).reset_index(drop = True)
print("\n2. MOST VOLATILE (Top to Least):")
display(vol_df)

# --- Q3: Biggest Price Shock ---
shock_df = adv_df[['commodity', 'max_price_jump_pct']].sort_values('max_price_jump_pct', ascending=False).reset_index(drop = True)
print("\n3. BIGGEST PRICE JUMP/SHOCK (%):")
display(shock_df)

# --- Q4: Most Stable ---
stable_df = adv_df[['commodity', 'volatility_24m']].sort_values('volatility_24m').reset_index(drop = True)
print("\n4. MOST STABLE (Least Volatile):")
display(stable_df)

# --- Q5: Other Advanced ---
print("\n5. OTHER ADVANCED INSIGHTS:")
display(adv_df[['commodity', 'avg_price_2025', 'avg_price_2026', 'trend_slope', 'uncertainty_width']])

FINAL ADVANCED INSIGHTS (NEXT 24 MONTHS):
================================================================================
1. 24-MONTH PRICE PREDICTION (EXAMPLE: Urea)

            ds        yhat  yhat_lower  yhat_upper    commodity
784 2025-05-01  398.300261  281.752118  507.173486  Urea ($/mt)
785 2025-06-01  406.222000  294.030302  529.882477  Urea ($/mt)
786 2025-07-01  409.888175  297.862648  530.460076  Urea ($/mt)
787 2025-08-01  420.621333  310.591578  531.704226  Urea ($/mt)
788 2025-09-01  425.534251  311.644376  539.391178  Urea ($/mt)

2. MOST VOLATILE (Top to Least):

                    commodity  volatility_24m
0             Palm oil ($/mt)           37.55
1                 Urea ($/mt)           13.39
2     Coal, Australian ($/mt)            6.26
3  Crude oil, average ($/bbl)            2.21
4   Natural gas, US ($/mmbtu)            0.12

3. BIGGEST PRICE JUMP/SHOCK (%):

                    commodity  max_price_jump_pct
0   Natural gas, US ($/mmbtu)                7.35
1  Crude oil, average ($/bbl)                6.18
2     Coal, Australian ($/mt)                5.98
3             Palm oil ($/mt)                3.83
4                 Urea ($/mt)                3.33

4. MOST STABLE (Least Volatile):

                    commodity  volatility_24m
0   Natural gas, US ($/mmbtu)            0.12
1  Crude oil, average ($/bbl)            2.21
2     Coal, Australian ($/mt)            6.26
3                 Urea ($/mt)           13.39
4             Palm oil ($/mt)           37.55

5. OTHER ADVANCED INSIGHTS:

,commodity,avg_price_2025,avg_price_2026,trend_slope,uncertainty_width
0,"Crude oil, average ($/bbl)",70.15,69.47,-0.03,35.47
1,"Coal, Australian ($/mt)",164.99,166.34,0.12,89.19
2,"Natural gas, US ($/mmbtu)",2.28,2.13,-0.02,3.13
3,Palm oil ($/mt),974.18,1004.18,1.59,436.54
4,Urea ($/mt),420.92,427.57,1.30,226.87